---
title: Cards
includecss: gelui.css
---

<div style="margin-bottom: 1rem;">
  <h3>Astronomy Photographer of the Year 2018</h3>
  <ul class="gel-cards">
    <li class="gel-card">
      <div class="gel-card__headline">
        <h4>Living Space</h4>
      </div>
      <div class="gel-card__content">
        <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/E134/production/_104025675_livingspaceandrewwhyte.jpg"
          alt="A silhouette of a lamppost reaches up from suburbia into the milky way" />
      </div>
      <div class="gel-card__desc">
        <p>Taken in Pagham, West Sussex, Whyte's photograph aims to show how accustomed we have become to the loss of
          night sky views because of light pollution, with the unlit street lamps allowing for awe-inspiring views.</p>
        <p><small>Runner-up: Andrew Whyte</small></p>
      </div>
      <div class="gel-card__toolbar">
        <button type="button" aria-expanded="false">
          <span class="gel-card__more-label">
            <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
              <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-up"></use>
            </svg>
            More info
          </span>
          <span class="gel-card__close-label">
            <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
              <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-no"></use>
            </svg>
            Close
          </span>
        </button>
        <div class="gel-card__info" role="group" aria-labelledby="more-info-title__1" hidden>
          <h5 class="gel-card__info-heading" id="more-info-title__1">More info</h5>
          <p>Lorem ipsum dolor <a href="#">sit amet</a>, consectetur adipiscing elit. Nulla sollicitudin posuere
            mauris, at sagittis
            odio aliquam sed. Nunc neque diam, euismod ut purus et, scelerisque vulputate tortor. Donec non commodo
            turpis. Nunc ac magna in diam molestie posuere eget eu elit. Suspendisse ut lectus porta eros dapibus
            tempor. Curabitur tempus purus eu consequat semper. Ut a lectus non metus imperdiet finibus. Sed vestibulum
            enim congue, finibus augue ut, dictum justo.</p>
        </div>
        <button type="button" aria-pressed="false">
          <span class="gel-sr">Love</span>
          <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
            <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-love-loved-state"></use>
          </svg>
        </button>
        <button type="button">
          <span class="gel-sr">Add</span>
          <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
            <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-add"></use>
          </svg>
        </button>
        <button type="button">
          <span class="gel-sr">Share</span>
          <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
            <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-share"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="gel-card">
      <div class="gel-card__headline">
        <h4>Speeding on the Aurora Lane</h4>
      </div>
      <div class="gel-card__content">
        <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/12F54/production/_104025677_speedingontheauroralanenicolaslefaudeux.jpg"
          alt="A shimmering green sheet reaches through a sky of stars towards a glowing green horizon" />
      </div>
      <div class="gel-card__desc">
        <p>A hazy auroral band is seen drifting across the sky above Sirkka, Finland, seeming like a road disappearing
          over the horizon.</p>
        <p><small>Winner: Nicolas Lefaudeux</small></p>
      </div>
      <div class="gel-card__toolbar">
        <button type="button" aria-expanded="false">
          <span class="gel-card__more-label">
            <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
              <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-up"></use>
            </svg>
            More info
          </span>
          <span class="gel-card__close-label">
            <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
              <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-no"></use>
            </svg>
            Close
          </span>
        </button>
        <div class="gel-card__info" role="group" aria-labelledby="more-info-title__1" hidden>
          <h5 class="gel-card__info-heading" id="more-info-title__1">More info</h5>
          <p>Vestibulum consectetur, lectus sed porta pulvinar, turpis nunc placerat nisl, non blandit augue leo in
            nunc. Vivamus in mi lectus. Vivamus ex orci, finibus non massa nec, viverra sollicitudin nibh. Nunc semper
            imperdiet ante, et mattis magna hendrerit a. Quisque libero nibh, hendrerit at tortor vitae, cursus
            elementum diam. Donec auctor molestie imperdiet. Vivamus venenatis mauris ut ante volutpat fringilla. Duis
            ullamcorper ac libero sed iaculis. Duis pulvinar leo at feugiat dapibus. Aenean sagittis felis massa,
            sodales ullamcorper tellus consectetur ac.</p>
        </div>
        <button type="button" aria-pressed="false">
          <span class="gel-sr">Love</span>
          <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
            <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-love-loved-state"></use>
          </svg>
        </button>
        <button type="button">
          <span class="gel-sr">Add</span>
          <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
            <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-add"></use>
          </svg>
        </button>
        <button type="button">
          <span class="gel-sr">Share</span>
          <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
            <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-share"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="gel-card">
      <div class="gel-card__headline">
        <h4>Castlerigg Stone Circle</h4>
      </div>
      <div class="gel-card__content">
        <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/40B2/production/_104026561_castleriggstonecirclematthewjamesturner.jpg"
          alt="The sun creeps over bright green hills to gently illuminate a circle of ancient stones. A few lights emanate from a distant village." />
      </div>
      <div class="gel-card__desc">
        <p>Turner's image depicts standing stones illuminated by moonlight, while auroras beyond the mountains gives
          the appearance that the hills are emitting an ethereal green glow.</p>
        <p><small>Runner-up: Matthew James Turner</small></p>
      </div>
      <div class="gel-card__toolbar">
        <button type="button" aria-expanded="false">
          <span class="gel-card__more-label">
            <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
              <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-up"></use>
            </svg>
            More info
          </span>
          <span class="gel-card__close-label">
            <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
              <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-no"></use>
            </svg>
            Close
          </span>
        </button>
        <div class="gel-card__info" role="group" aria-labelledby="more-info-title__1" hidden>
          <h5 class="gel-card__info-heading" id="more-info-title__1">More info</h5>
          <p>Quisque sit amet magna lacus. Donec in fringilla velit. Curabitur vulputate magna euismod turpis luctus
            bibendum. Donec fringilla risus eget felis aliquet, vel vestibulum nibh bibendum. In laoreet ut nisi nec
            gravida. Nullam scelerisque posuere mollis. Donec ac mauris maximus, placerat enim vitae, placerat libero.
            Maecenas eget magna quis diam faucibus suscipit at et velit. Nulla placerat vehicula nunc in maximus. Nulla
            euismod neque vel imperdiet dignissim.</p>
        </div>
        <button type="button" aria-pressed="false">
          <span class="gel-sr">Love</span>
          <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
            <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-love-loved-state"></use>
          </svg>
        </button>
        <button type="button">
          <span class="gel-sr">Add</span>
          <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
            <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-add"></use>
          </svg>
        </button>
        <button type="button">
          <span class="gel-sr">Share</span>
          <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
            <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-share"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    window.gel && gel.Card.init();

    var cards = document.querySelectorAll('.gel-card');
    Array.prototype.forEach.call(cards, function (c) {
      var card = new gel.Card.constructor(c);
    });
  });
</script>