---
title: Carousels
---

<div style="margin-bottom: 1rem;">
  <div class="gel-carousel" role="group">
    <div class="gel-carousel__buttons" hidden>
      <button class="gel-carousel__prev" type="button">
        <span class="gel-sr">previous</span>
        <svg class="gel-icon gel-icon--text" aria-hidden="true" focusable="false">
          <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-previous"></use>
        </svg>
      </button>
      <button class="gel-carousel__next" type="button">
        <span class="gel-sr">next</span>
        <svg class="gel-icon gel-icon--text" aria-hidden="true" focusable="false">
          <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-next"></use>
        </svg>
      </button>
    </div>
    <div class="gel-carousel__scrollable">
      <ul class="gel-carousel__list">
        <li class="gel-promo">
          <div class="gel-promo__image">
            <img src="/gel/static/images/placeholder.png" alt="">
          </div>
          <div class="gel-promo__content">
            <a class="gel-promo__headline" href="#link/to/content">
              Definitive supreme statements still stand
            </a>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica,
              sport etc, litot Europa usa li sam vocabular.</p>
            <dl class="gel-metadata-strip">
              <div>
                <dt class="gel-sr">Published:</dt>
                <dd>
                  <span aria-hidden="true">
                    <svg class="gel-icon gel-icon--text" focusable="false">
                      <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-duration"></use>
                    </svg>
                    1h
                  </span>
                  <span class="gel-sr">1 hour ago</span>
                </dd>
              </div>
              <div>
                <dt class="gel-sr">From:</dt>
                <dd>
                  <a href="https://www.bbc.co.uk/news/england/sussex">Sussex</a>
                </dd>
              </div>
            </dl>
          </div>
        </li>
        <li class="gel-promo">
          <div class="gel-promo__image">
            <img src="/gel/static/images/placeholder.png" alt="">
          </div>
          <div class="gel-promo__content">
            <a class="gel-promo__headline" href="#link/to/content">
              Psychologists revise retroactive reports
            </a>
            <p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
            <dl class="gel-metadata-strip">
              <div>
                <dt class="gel-sr">Published:</dt>
                <dd>
                  <span aria-hidden="true">
                    <svg class="gel-icon gel-icon--text" focusable="false">
                      <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-duration"></use>
                    </svg>
                    1m
                  </span>
                  <span class="gel-sr">1 minute ago</span>
                </dd>
              </div>
              <div>
                <dt class="gel-sr">Category:</dt>
                <dd>
                  <a href="https://www.bbc.co.uk/news/business">Business</a>
                </dd>
              </div>
            </dl>
          </div>
        </li>
        <li class="gel-promo">
          <div class="gel-promo__image">
            <img src="/gel/static/images/placeholder.png" alt="">
          </div>
          <div class="gel-promo__content">
            <a class="gel-promo__headline" href="#link/to/content">
              Mercury gains in galaxy
            </a>
            <p>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.
              At solmen va esser necessi far uniform grammatica, pronunciation e plu commun paroles.</p>
            <dl class="gel-metadata-strip">
              <div>
                <dt class="gel-sr">Published:</dt>
                <dd>
                  <span aria-hidden="true">
                    <svg class="gel-icon gel-icon--text" focusable="false">
                      <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-duration"></use>
                    </svg>
                    1m
                  </span>
                  <span class="gel-sr">1 minute ago</span>
                </dd>
              </div>
              <div>
                <dt class="gel-sr">From:</dt>
                <dd>
                  <a href="https://www.bbc.co.uk/news/world/africa">Africa</a>
                </dd>
              </div>
            </dl>
          </div>
        </li>
        <li class="gel-promo">
          <div class="gel-promo__image">
            <img src="/gel/static/images/placeholder.png" alt="">
          </div>
          <div class="gel-promo__content">
            <a class="gel-promo__headline" href="#link/to/content">
              Staff said to summarily 'suspend assaults'
            </a>
            <p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del
              coalescent lingues.</p>
            <dl class="gel-metadata-strip">
              <div>
                <dt class="gel-sr">Published:</dt>
                <dd>
                  <span aria-hidden="true">
                    <svg class="gel-icon gel-icon--text" focusable="false">
                      <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-duration"></use>
                    </svg>
                    12h
                  </span>
                  <span class="gel-sr">12 hours ago</span>
                </dd>
              </div>
              <div>
                <dt class="gel-sr">From:</dt>
                <dd>
                  <a href="https://www.bbc.co.uk/news/world/europe">Europe</a>
                </dd>
              </div>
            </dl>
          </div>
        </li>
        <li class="gel-promo">
          <div class="gel-promo__image">
            <img src="/gel/static/images/placeholder.png" alt="">
          </div>
          <div class="gel-promo__content">
            <a class="gel-promo__headline" href="#link/to/content">
              Engineers eye exploits
            </a>
            <p>Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam
              simplic quam Occidental in fact, it va esser Occidental.</p>
            <dl class="gel-metadata-strip">
              <div>
                <dt class="gel-sr">Published:</dt>
                <dd>
                  <span aria-hidden="true">
                    <svg class="gel-icon gel-icon--text" focusable="false">
                      <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-duration"></use>
                    </svg>
                    2h
                  </span>
                  <span class="gel-sr">2 hours ago</span>
                </dd>
              </div>
              <div>
                <dt class="gel-sr">By:</dt>
                <dd>
                  <a href="https://www.bbc.co.uk/news/newsbeat">Newsbeat</a>
                </dd>
              </div>
            </dl>
          </div>
        </li>
        <li class="gel-promo">
          <div class="gel-promo__image">
            <img src="/gel/static/images/placeholder.png" alt="">
          </div>
          <div class="gel-promo__content">
            <a class="gel-promo__headline" href="#link/to/content">
              Transmitter reaches realistic perspectives
            </a>
            <p>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental
              es.</p>
            <dl class="gel-metadata-strip">
              <div>
                <dt class="gel-sr">Published:</dt>
                <dd>
                  <span aria-hidden="true">
                    <svg class="gel-icon gel-icon--text" focusable="false">
                      <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-duration"></use>
                    </svg>
                    6th Nov 2018
                  </span>
                  <span class="gel-sr">6th November 2018</span>
                </dd>
              </div>
              <div>
                <dt class="gel-sr">From:</dt>
                <dd>
                  <a href="https://www.bbc.co.uk/news/world/europe">Europe</a>
                </dd>
              </div>
            </dl>
          </div>
        </li>
        <li class="gel-promo">
          <div class="gel-promo__image">
            <img src="/gel/static/images/placeholder.png" alt="">
          </div>
          <div class="gel-promo__content">
            <a class="gel-promo__headline" href="#link/to/content">
              Passengers point to potential differential
            </a>
            <p>At solmen va esser necessi far uniform grammatica, pronunciation e plu commun paroles. Ma quande lingues
              coalesce.</p>
            <dl class="gel-metadata-strip">
              <div>
                <dt class="gel-sr">Published:</dt>
                <dd>
                  <span aria-hidden="true">
                    <svg class="gel-icon gel-icon--text" focusable="false">
                      <use xlink:href="/gel/static/images/gel-icons-all.svg#gel-icon-duration"></use>
                    </svg>
                    6th Nov 2018
                  </span>
                  <span class="gel-sr">6th November 2018</span>
                </dd>
              </div>
              <div>
                <dt class="gel-sr">From:</dt>
                <dd>
                  <a href="https://www.bbc.co.uk/news/world/europe">Europe</a>
                </dd>
              </div>
            </dl>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function (event) {
    window.gel && gel.Carousel.init();
    var carouselElem = document.querySelector('.gel-carousel');
    var carousel = new gel.Carousel.constructor(carouselElem);
  });
</script>