---
title: External links
---

<div style="margin-bottom: 1rem;">
  <h3>Inline external link</h3>
  <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.<a href="#"><span class="gel-sr">leave
        BBC site:</span> Ministry Of <span class="gel-nowrap">Sound <svg class="gel-icon gel-icon--text" focusable="false">
          <use xlink:href="/gel//static/images/gel-icons-all.svg#gel-icon-external-link" style="undefined"></use>
        </svg></span></a> Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
    Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
  <h3>List of external links</h3>
  <h4>Read more</h4>
  <ul class="gel-external-links">
    <li>
      <a href="#">
        <span class="gel-sr">leave BBC site:</span>
        <svg class="gel-icon gel-icon--text" focusable="false">
          <use xlink:href="/gel//static/images/gel-icons-all.svg#gel-icon-external-link" style="undefined"></use>
        </svg>
        Football Association of Wales
      </a>
    </li>
    <li>
      <a href="#">
        <span class="gel-sr">leave BBC site:</span>
        <svg class="gel-icon gel-icon--text" focusable="false">
          <use xlink:href="/gel//static/images/gel-icons-all.svg#gel-icon-external-link" style="undefined"></use>
        </svg>
        Europa League final
      </a>
    </li>
    <li>
      <a href="#">
        <span class="gel-sr">leave BBC site:</span>
        <svg class="gel-icon gel-icon--text" focusable="false">
          <use xlink:href="/gel//static/images/gel-icons-all.svg#gel-icon-external-link" style="undefined"></use>
        </svg>
        West Bromwich Albion official site
      </a>
    </li>
  </ul>
</div>