---
title: Action dialogs
---

<div id="action-dialog-1" class="gel-action-dialog" role="dialog" aria-labelledby="gel-action-dialog-label-1"
  aria-describedby="gel-action-dialog-desc-1">
  <h3 id="gel-action-dialog-label-1" class="gel-action-dialog-title">Add to enjoy later</h2>
  <div id="gel-action-dialog-desc-1" class="gel-action-dialog-content">
    <p>Sign in to add to My Programmes and enjoy it later on other devices</p>
  </div>
  <div class="gel-action-dialog-buttons">
    <a href="#/path/to/sign-in">Sign in</a>
    or
    <a href="#/path/to/register">Register</a>
  </div>
  <button class="gel-action-dialog-close">
    <span class="vh">close</span>
    <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
      <use xlink:href="{{site.basedir}}static/images/gel-icons-all.svg#gel-icon-no"></use>
    </svg>
  </button>
</div>

<div id="action-dialog-2" class="gel-action-dialog" role="dialog" aria-labelledby="gel-action-dialog-label-1"
  aria-describedby="gel-action-dialog-desc-1">
  <h3 id="gel-action-dialog-label-1" class="gel-action-dialog-title">Add to enjoy later</h2>
  <div id="gel-action-dialog-desc-1" class="gel-action-dialog-content">
    <p>Sign in to add to My Programmes and enjoy it later on other devices</p>
  </div>
  <div class="gel-action-dialog-buttons">
    <a href="#/path/to/sign-in">Sign in</a>
    or
    <a href="#/path/to/register">Register</a>
  </div>
  <button class="gel-action-dialog-close">
    <span class="vh">close</span>
    <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
      <use xlink:href="{{site.basedir}}static/images/gel-icons-all.svg#gel-icon-no"></use>
    </svg>
  </button>
</div>

<p><button class="gel-button gel-button--primary" id="action-dialog-invoker-1">Open action dialog (bottom)</button></p>
<p><button class="gel-button gel-button--primary" id="action-dialog-invoker-2">Open action dialog (center)</button></p>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    window.gelui && gelui.ActionDialog.init();

    // Example 1: Dialog aligned to bottom of screen
    var dialogBottomElem = document.getElementById('action-dialog-1');
    var dialogBottomInvoker = document.getElementById('action-dialog-invoker-1');
    var d1 = new gelui.ActionDialog.constructor(dialogBottomElem, dialogBottomInvoker);

    // Example 2: Dialog centered in viewport
    var dialogCenterElem = document.getElementById('action-dialog-2');
    var dialogCenterInvoker = document.getElementById('action-dialog-invoker-2');
    var d2 = new gelui.ActionDialog.constructor(dialogCenterElem, dialogCenterInvoker, true);
  });
</script>