---
title: Search filter
---

<nav class="gef-filter" aria-labelledby="filter-label">
  <div class="gef-filter__bar">
    <h4 id="filter-label" aria-hidden="true">Filter:</h4>
    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
      <li><a href="#">Item 5</a></li>
      <li><a href="#">Item 6</a></li>
      <li><a href="#">Item 7</a></li>
      <li><a href="#">Item 8</a></li>
      <li><a href="#">Item 9</a></li>
    </ul>
    <button aria-expanded="false">
      More
      <svg class="gel-icon gel-icon--text" aria-hidden="true" focusable="false">
        <use xlink:href="{{site.basedir}}static/images/gel-icons-all.svg#gel-icon-down"></use>
      </svg>
    </button>
  </div>
  <div class="gef-filter__popup" hidden>

  </div>
</nav>