---
title: Form fields and validation
---

<h3>Form fields and validation</h3>

<form id="myform-demo">
  <div class="gef-form__divider">
    <label for="username">
      Username
      <strong class="gef-form__field-error" id="username-error" aria-hidden="true"></strong>
    </label>
    <input type="text" id="username" name="username" />
  </div>
  <div class="gef-form__divider">
    <label for="code">
      Verification code
      <small>This was sent to you by email</small>
      <strong class="gef-form__field-error" id="code-error" aria-hidden="true"></strong>
    </label>
    <input type="text" id="code" name="code" />
  </div>
  <div class="gef-form__divider">
    <button class="gef-button" type="submit">Submit</button>
  </div>
</form>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    window.gef && gef.Validation.init();

    var rules = [
      {
        name: 'code',
        required: true,
        tests: [
          {
            error: function (val) { return !/^\d+$/.test(val) },
            message: 'The verification code must not contain letters'
          },
          {
            error: function (val) { return val.length !== 5 },
            message: 'The verification code must be five digits in length'
          }
        ]
      },
      {
        name: 'username',
        required: true
      }
    ];

    var form = document.getElementById('myform-demo');
    var formValidation = new gef.Validation.constructor(form, rules);
  });
</script>