---
title: Load more
---

<div class="gef-loader">
  <ul class="gef-loader-items">
    <li class="gef-loader-item">
      <p>delectus ullam et corporis nulla voluptas sequi</p>
      <a class="gef-cta" href="http://www.example.com/path/to/1">Read more about result 1</a>
    </li>
    <li class="gef-loader-item">
      <p>iusto eius quod necessitatibus culpa ea</p>
      <a class="gef-cta" href="http://www.example.com/path/to/2">Read more about result 2</a>
    </li>
    <li class="gef-loader-item">
      <p>a quo magni similique perferendis</p>
      <a class="gef-cta" href="http://www.example.com/path/to/3">Read more about result 3</a>
    </li>
    <li class="gef-loader-item">
      <p>ullam ut quidem id aut vel consequuntur</p>
      <a class="gef-cta" href="http://www.example.com/path/to/4">Read more about result 4</a>
    </li>
    <li class="gef-loader-item">
      <p>doloremque illum aliquid sunt</p>
      <a class="gef-cta" href="http://www.example.com/path/to/5">Read more about result 5</a>
    </li>
    <li class="gef-loader-item">
      <p>qui explicabo molestiae dolorem</p>
      <a class="gef-cta" href="http://www.example.com/path/to/6">Read more about result 6</a>
    </li>
  </ul>
  <div class="gef-loader-foot">
    <div class="gef-loader-loading" role="status" hidden>
      <svg class="gel-icon gel-icon--text gel-icon-loading" focusable="false" aria-hidden="true">
        <use xlink:href="{{site.basedir}}static/images/gel-icons-all.svg#gel-icon-loading"></use>
      </svg>
      <div class="gef-loader-loading-text gef-sr"></div>
    </div>
    <button class="gef-loader-button gef-button" type="button" hidden>Load more</button>
    <nav class="gef-pages" aria-labelledby="gef-pagination-label">
      <div id="gef-pages-label" hidden>Page</div>
      <a class="gef-pages-prev">
        <span class="gef-sr">Previous page</span>
        <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
          <use xlink:href="{{site.basedir}}static/images/gel-icons-all.svg#gel-icon-previous"></use>
        </svg>
      </a>
      <ol class="gef-pages-numbered">
        <li><a href="?page=1" aria-current="page">1</a></li>
        <li><a href="?page=2">2</a></li>
        <li><a href="?page=3">3</a></li>
        <li><a href="?page=4">4</a></li>
        <li><a href="?page=5">5</a></li>
        <li><a href="?page=6">6</a></li>
        <li><a href="?page=7">7</a></li>
        <li role="separator">&hellip;</li>
        <li><a href="?page=999">999</a></li>
      </ol>
      <div class="gef-pages-text">Page 1 of 999</div>
      <a class="gef-pages-next" href="?page=2">
        <span class="gef-sr">Next page</span>
        <svg class="gel-icon gel-icon--text" focusable="false" aria-hidden="true">
          <use xlink:href="{{site.basedir}}static/images/gel-icons-all.svg#gel-icon-next"></use>
        </svg>
      </a>
    </nav>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    window.gef && gef.LoadMore.init();

    // You can pull numbered results from an API
    // var dataURL = 'https://jsonplaceholder.typicode.com/posts/';
    // var dataProvider = function(i) {
    //   return fetch(dataURL + i); // => Promise
    // };

    // But any function that returns a promise can be used
    var dataProvider = function(i) {
      return new Promise(function (resolve, reject) {
        setTimeout(function() { resolve({
          json: function() {
            return {
              userId: i, id: i, title: randomTitle(8)
            };
          }
        })}, 800);
      });
    };

    // Initialize
    var loaderElem = document.querySelector('.gef-loader');
    var loader = new gef.LoadMore.constructor(loaderElem, 6, 7, dataProvider);
  });
  
  // Fake content generator for demonstration purposes only
  function randomTitle(len) {
    var words = ['ipsum', 'dolor', 'sit', 'amet', 'et', 'per', 'qui', 'iillum', 'fatto', 'riempire', 'fuori', 'amore', 'che', 'dopo', 'andato', 'adat', 'tarsi', 'fets', 'potuto', 'fico', 'figda', 'uso', 'feltro', 'in', 'ludere', 'depulci', 'char', 'giro', 'noi'];
    var result = [];
    while (len--) {
      result.push(words[Math.floor(Math.random() * words.length)]);
    }
    return result.join(' ')
  }
</script>