---
title: Metadata Strips
---

<div style="margin-bottom: 1rem;">
  <dl class="gef-metadata-strip">
    <div>
      <dt class="gef-sr">Published:</dt>
      <dd>
        <span aria-hidden="true">
          <svg class="gel-icon gel-icon--text" focusable="false">
            <use xlink:href="{{site.basedir}}static/images/gel-icons-all.svg#gel-icon-duration"></use>
          </svg>
          1m
        </span>
        <span class="gef-sr">1 minute ago</span>
      </dd>
    </div>
    <div>
      <dt class="gef-sr">From:</dt>
      <dd>
        <a href="link/to/category">UK</a>
      </dd>
    </div>
  </dl>
</div>