---
title: Promos
includecss: gelui.css
---

<div style="margin-bottom: 1rem;">
  <h3>Fully featured promos (vertical)</h3>
  <ul class="gel-promos">
    <li class="gel-promo">
      <div class="gel-promo-content">
        <div class="gel-promo-headline">
          <h4>
            <a href="#to/permalink/1">Report: Rainstorm Disquiets Rivers Regularly</a>
          </h4>
        </div>
        <div class="gel-promo-desc">
          <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
        </div>
        <dl class="gel-metadata-strip">
          <div>
            <dt class="vh">Published:</dt>
            <dd>
              <span aria-hidden="true">1h</span>
              <span class="vh">1 hour ago</span>
            </dd>
          </div>
          <div>
            <dt class="vh">From:</dt>
            <dd>
              <a href="link/to/category">US & Canada</a>
            </dd>
          </div>
        </dl>
      </div>
      <div class="gel-promo-image">
        <img src="{{site.basedir}}static/images/placeholder.png" alt="">
      </div>
    </li>
    <li class="gel-promo">
      <div class="gel-promo-content">
        <div class="gel-promo-headline">
          <h4>
            <a href="#to/permalink/2">Animus Averted By Timely Answers</a>
          </h4>
        </div>
        <div class="gel-promo-desc">
          <p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
        </div>
        <dl class="gel-metadata-strip">
          <div>
            <dt class="vh">Published:</dt>
            <dd>
              <span aria-hidden="true">1m</span>
              <span class="vh">1 minute ago</span>
            </dd>
          </div>
          <div>
            <dt class="vh">From:</dt>
            <dd>
              <a href="link/to/category">UK</a>
            </dd>
          </div>
        </dl>
      </div>
      <div class="gel-promo-image">
        <img src="{{site.basedir}}static/images/placeholder.png" alt="">
      </div>
    </li>
  </ul>
  <h3>Fully featured promos (horizontal)</h3>
  <ul class="gel-promos gel-promos-horizontal">
    <li class="gel-promo gel-promo-horizontal">
      <div class="gel-promo-content">
        <div class="gel-promo-headline">
          <h4>
            <a href="#to/permalink/1">Report: Rainstorm Disquiets Rivers Regularly</a>
          </h4>
        </div>
        <div class="gel-promo-desc">
          <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
        </div>
        <dl class="gel-metadata-strip">
          <div>
            <dt class="vh">Published:</dt>
            <dd>
              <span aria-hidden="true">1h</span>
              <span class="vh">1 hour ago</span>
            </dd>
          </div>
          <div>
            <dt class="vh">From:</dt>
            <dd>
              <a href="link/to/category">US & Canada</a>
            </dd>
          </div>
        </dl>
      </div>
      <div class="gel-promo-image">
        <img src="{{site.basedir}}static/images/placeholder.png" alt="">
      </div>
    </li>
    <li class="gel-promo gel-promo-horizontal">
      <div class="gel-promo-content">
        <div class="gel-promo-headline">
          <h4>
            <a href="#to/permalink/2">Animus Averted By Timely Answers</a>
          </h4>
        </div>
        <div class="gel-promo-desc">
          <p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
        </div>
        <dl class="gel-metadata-strip">
          <div>
            <dt class="vh">Published:</dt>
            <dd>
              <span aria-hidden="true">1m</span>
              <span class="vh">1 minute ago</span>
            </dd>
          </div>
          <div>
            <dt class="vh">From:</dt>
            <dd>
              <a href="link/to/category">UK</a>
            </dd>
          </div>
        </dl>
      </div>
      <div class="gel-promo-image">
        <img src="{{site.basedir}}static/images/placeholder.png" alt="">
      </div>
    </li>
  </ul>
  <h3>Promos without descriptions</h3>
  <ul class="gel-promos">
    <li class="gel-promo">
      <div class="gel-promo-content">
        <div class="gel-promo-headline">
          <h4>
            <a href="#to/permalink/1">Report: Rainstorm Disquiets Rivers Regularly</a>
          </h4>
        </div>
        <dl class="gel-metadata-strip">
          <div>
            <dt class="vh">Published:</dt>
            <dd>
              <span aria-hidden="true">1h</span>
              <span class="vh">1 hour ago</span>
            </dd>
          </div>
          <div>
            <dt class="vh">From:</dt>
            <dd>
              <a href="link/to/category">US & Canada</a>
            </dd>
          </div>
        </dl>
      </div>
      <div class="gel-promo-image">
        <img src="{{site.basedir}}static/images/placeholder.png" alt="">
      </div>
    </li>
    <li class="gel-promo">
      <div class="gel-promo-content">
        <div class="gel-promo-headline">
          <h4>
            <a href="#to/permalink/2">Animus Averted By Timely Answers</a>
          </h4>
        </div>
        <dl class="gel-metadata-strip">
          <div>
            <dt class="vh">Published:</dt>
            <dd>
              <span aria-hidden="true">1m</span>
              <span class="vh">1 minute ago</span>
            </dd>
          </div>
          <div>
            <dt class="vh">From:</dt>
            <dd>
              <a href="link/to/category">UK</a>
            </dd>
          </div>
        </dl>
      </div>
      <div class="gel-promo-image">
        <img src="{{site.basedir}}static/images/placeholder.png" alt="">
      </div>
    </li>
  </ul>
  <h3>Promos with just images and headlines</h3>
  <ul class="gel-promos">
    <li class="gel-promo">
      <div class="gel-promo-content">
        <div class="gel-promo-headline">
          <h4>
            <a href="#to/permalink/1">Report: Rainstorm Disquiets Rivers Regularly</a>
          </h4>
        </div>
      </div>
      <div class="gel-promo-image">
        <img src="{{site.basedir}}static/images/placeholder.png" alt="">
      </div>
    </li>
    <li class="gel-promo">
      <div class="gel-promo-content">
        <div class="gel-promo-headline">
          <h4>
            <a href="#to/permalink/2">Animus Averted By Timely Answers</a>
          </h4>
        </div>
      </div>
      <div class="gel-promo-image">
        <img src="{{site.basedir}}static/images/placeholder.png" alt="">
      </div>
    </li>
  </ul>
</div>