---
title: Promo Examples

---

<div class="gel-promo-wrapper" style="width:100%; max-width:900px; border-left:1px solid #ccc; padding:16px;">
  
  <h3>More Stories...</h3>

  <ul class="gel-promo-list">

    <li class="gel-promo gel-promo__horz">
      <a href="#example-link-1">
          <div class="gel-promo-body">
            <h4>Trains Run On Time</h4>
            <p>"A first!" declares transport boss.</p>
          </div>
          <div class="gel-promo-media">
            <img src="{{site.basedir}}static/images/placeholder.png" alt="">
          </div>
      </a>
    </li>

    <li class="gel-promo gel-promo__horz">
      <a href="#example-link-2">
          <div class="gel-promo-body">
            <h4>More Gold for New Olympic Trampoline Team in London</h4>
          </div>
          <div class="gel-promo-media">
            <img src="{{site.basedir}}static/images/placeholder.png" alt="">
          </div>
      </a>
    </li>

  </ul>

</div>
