<!doctype html>
<html lang="en" class="b-pw-1280 b-reith-sans-font b-reith-serif-font no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{site.basedir}}static/images/favicon.ico" type="image/x-icon">

    <title>{{site.title}} | {{title}} Demo</title>

    <link rel="stylesheet" type="text/css" href="{{site.basedir}}static/css/gel.css">

    <script type="text/javascript"> // feature detects
        document.documentElement.className = document.documentElement.className.replace(' no-js', ' js');
        document.documentElement.className += (' ' + ('ontouchstart' in document.documentElement ? 'touch' : 'no-touch'));
        document.documentElement.className += (' ' + ('flexWrap' in document.documentElement.style ? 'flex' : 'no-flex'));
        document.documentElement.className += (' ' + ((document.createElementNS && 'createSVGRect' in document.createElementNS('http://www.w3.org/2000/svg', 'svg')) ? 'svg' : 'no-svg'));
    </script>

    {% if includecss %}
    <link rel="stylesheet" type="text/css" href="{{site.basedir}}static/css/{{ includecss }}">
    {% endif %}
</head>

<body style="margin: 0">
    <div style="padding: 1rem;">
        <h1 class="gel-guideline-header__title">{{ title }}</h1>
        <h2>Reference implementation</h2>
    </div>
    {{ content | safe }}

    <script type="text/javascript" src="{{site.basedir}}static/js/gel.js"></script>

    {% if includejs %}
    <script type="text/javascript" src="{{site.basedir}}static/js/{{ includejs }}"></script>
    {% endif %}
</body>

</html>