<!doctype html>
<html lang="en" class="b-pw-1280 b-reith-sans-font b-reith-serif-font no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{site.title}} | {{title}}</title>

    <script src="{{site.basedir}}static/js/site.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
    <link rel="stylesheet" type="text/css" href="{{site.basedir}}static/css/codegel.css">
    <link rel="stylesheet" type="text/css" href="{{site.basedir}}static/css/geldocs.css">

    <script type="text/javascript"> // feature detects
        document.documentElement.className = document.documentElement.className.replace(' no-js', ' js');
        document.documentElement.className += (' ' + ('ontouchstart' in document.documentElement ? 'touch' : 'no-touch'));
        document.documentElement.className += (' ' + ('flexWrap' in document.documentElement.style ? 'flex' : 'no-flex'));
        document.documentElement.className += (' ' + ((document.createElementNS && 'createSVGRect' in document.createElementNS('http://www.w3.org/2000/svg', 'svg')) ? 'svg' : 'no-svg'));
    </script>

    <script type="text/javascript">
        try {
            (new FontFaceObserver('ReithSans', 5000)).load().then(function () {
                document.documentElement.className += ' b-reith-sans-loaded';
            });
            (new FontFaceObserver('ReithSerif', 5000)).load().then(function () {
                document.documentElement.className += ' b-reith-loaded';
            });
        } catch( e ) {
            console.log('Reith fonts did not load within 5 seconds.');
        }
    </script>

    <script type="text/javascript">
        // syntax highlight
        hljs.initHighlightingOnLoad();
    </script>

    {% if includecss %}
    <link rel="stylesheet" type="text/css" href="{{site.basedir}}static/css/{{ includecss }}">
    {% endif %}
</head>

<body class="geldocs-body">
    <p class="codegel-sr codegel-sr__focusable codegel-sr__overlay" tabindex="0">
        <a href="#main" onfocus="this.parentNode.classList.add('codegel-sr__focused')" onblur="this.parentNode.classList.remove('codegel-sr__focused')">Skip
            to content</a>
    </p>

    <header>
        <div class="geldocs-header gs-u-clearfix">
            <div class="gel-wrap">
                <a href="http://www.bbc.co.uk/"><svg aria-label="BBC GEL Logo" width="100" height="24" viewBox="0 0 100 24">
                        <title>BBC</title>
                        <image xlink:href="{{site.basedir}}static/images/bbc-blocks_grey.svg" src="{{site.basedir}}static/images/bbc-blocks_grey.png"
                            width="100%" height="100%"></image>
                    </svg></a>
            </div>
        </div>
        <div class="geldocs-header__banner gs-u-clearfix">
            <div class="gel-wrap">
                <div class="gel-layout">
                    <div class="gel-layout__item gel-2/5@l" style="text-align:left; padding-left:14px; margin-bottom:32px;">
                        <span class="geldocs-logo">Code{GEL}</span>
                    </div>
                    {% if linkback %}
                    <div class="gel-layout__item gel-2/5@l gel-pull__right@l" style="margin-bottom: 16px;">
                        <a class="geldocs-button geldocs-button--dark gel-long-primer-bold" href="{{linkback}}">
                            Go to BBC GEL
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main id="main" tabindex="-1" class="gel-wrap gs-u-clearfix">
        <div class="gel-layout">
            <div class="gel-layout__item gel-1/5@l">
                <!-- column placeholder-->
            </div>

            <div class="gel-layout__item gel-2/5@l" style="padding-right: 12px;">
                <h1 class="geldocs-header__title">{{title}}</h1>
                <p class="geldocs-header__summary gel-great-primer">{{summary}}</p>
            </div>
        </div>

        <div class="gel-layout">
            <div class="gel-layout__item gel-1/5@l">
                <nav role="navigation" id="side-nav" class="gel-side-nav sticky" data-sticky-for="900" style="padding-top:32px">
                    <div class="gel-pica gs-u-mb gs-u-mt0">Contents</div>
                    {{ content | toc | safe }}
                </nav>
            </div>

            <div class="geldocs-sections geldocs-body-copy gel-layout__item gel-3/5@l">
                {{ content | safe }}
            </div>
        </div>
    </main>

    <div class="geldocs-feedback-banner">
        <div class="gel-wrap">
            <div class="gel-layout">
                <div class="gel-layout__item gel-2/3@l gel-3/5@xl">
                    <h2 class="geldocs-feedback-banner__title">Got a minute?</h2>
                    <p>We'd love to know what you think of the Code GEL website.</p>
                    <a href="https://www.smartsurvey.co.uk/s/gel-website-feedback/" class="geldocs-button geldocs-button__link-button geldocs-feedback-banner__cta geldocs-button--primary">
                        <span class="geldocs-button__content">Go to survey</span>
                        <span class="geldocs-button__icon_wrapper">
                            <svg class="geldocs-button__icon geldocs-icon geldocs-icon--text">
                                <use xlink:href="{{site.basedir}}static/images/gel-icons-core-set.svg#gel-icon-external-link"
                                    style="fill:undefined;"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{site.basedir}}static/js/codegel.js"></script>

    {% if includejs %}
    <script type="text/javascript" src="{{site.basedir}}static/js/{{ includejs }}"></script>
    {% endif %}

    <script type="text/javascript">
        new Sticky('.sticky');
        new MenuSpy(document.querySelector('#geldocs-toc__links'), {enableLocationHash: false});
        new SweetScroll({
            trigger: '#geldocs-toc__links a',
            quickMode: true,
            easing: 'easeOutExpo',
            cancellable: true,
            updateURL: false, 
        });
    </script>
</body>

</html>