<!doctype html>
<html lang="en" class="b-pw-1280 b-reith-sans-font b-reith-serif-font no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{site.title}} | {{title}} Demo</title>

    <script src="{{site.basedir}}static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="{{site.basedir}}static/css/main.css">

    <script type="text/javascript">
        // feature detects
        document.documentElement.className = document.documentElement.className.replace(' no-js', ' js');
        document.documentElement.className += (' ' + (supports.touchevents ? 'touch' : 'no-touch'));
        document.documentElement.className += (' ' + (SimpleFeatureDetector.supports({ property: 'flex-wrap' }, { property: 'flex-flow' }) ? 'flexbox' : 'no-flexbox'));
        document.documentElement.className += (' ' + ((document.createElementNS && 'createSVGRect' in document.createElementNS('http://www.w3.org/2000/svg', 'svg')) ? 'svg' : 'no-svg'));
    </script>

    <script type="text/javascript">
        // use reith fonts
        (new FontFaceObserver('ReithSans')).load().then(function () {
            document.documentElement.className += ' b-reith-sans-loaded';
        });
        (new FontFaceObserver('ReithSerif')).load().then(function () {
            document.documentElement.className += ' b-reith-loaded';
        });
    </script>

    {% if includecss %}
    <link rel="stylesheet" type="text/css" href="{{site.basedir}}static/css/{{ includecss }}">
    {% endif %}
</head>

<body class="gel-guideline-body">
    <main id="main" class="gel-wrap gs-u-clearfix">
        <div class="gel-layout">
            <div class="gel-layout__item gel-5/5@l" style="padding-right: 12px;">
                <h1 class="gel-guideline-header__title">{{ title }}</h1>
            </div>
        </div>

        <div class="gel-layout">
            <div class="gel-guideline-sections gel-body-copy gel-layout__item gel-5/5@l">
                {{ content | safe }}
            </div>
        </div>
    </main>


    <script type="text/javascript" src="{{site.basedir}}static/js/gelui.js"></script>
    
    {% if includejs %}
    <script type="text/javascript" src="{{site.basedir}}static/js/{{ includejs }}"></script>
    {% endif %}

    <script type="text/javascript" src="{{site.basedir}}static/js/demo.js"></script>
</body>

</html>