<!doctype html>
<html lang="en" class="b-pw-1280 b-reith-sans-font b-reith-serif-font no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{site.basedir}}static/images/favicon.ico" type="image/x-icon">

    <title>{{site.title}} | {{title}}</title>

    <script src="{{site.basedir}}static/js/site.js"></script>

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
    <link rel="stylesheet" type="text/css" href="{{site.basedir}}static/css/gef.css">
    <link rel="stylesheet" type="text/css" href="{{site.basedir}}static/css/site.css">

    <script type="text/javascript"> // feature detects
        document.documentElement.className = document.documentElement.className.replace(' no-js', ' js');
        document.documentElement.className += (' ' + ('ontouchstart' in document.documentElement ? 'touch' : 'no-touch'));
        document.documentElement.className += (' ' + ('flexWrap' in document.documentElement.style ? 'flex' : 'no-flex'));
        document.documentElement.className += (' ' + ((document.createElementNS && 'createSVGRect' in document.createElementNS('http://www.w3.org/2000/svg', 'svg')) ? 'svg' : 'no-svg'));
    </script>

    <script type="text/javascript">
        try {
            (new FontFaceObserver('ReithSans', 5000)).load().then(function () {
                document.documentElement.className += ' b-reith-sans-loaded';
            });
            (new FontFaceObserver('ReithSerif', 5000)).load().then(function () {
                document.documentElement.className += ' b-reith-loaded';
            });
        } catch (e) {
            console.log('Reith fonts did not load within 5 seconds.');
        }
    </script>

    <script type="text/javascript">
        // syntax highlight
        hljs.initHighlightingOnLoad();
    </script>

    {% if includecss %}
    <link rel="stylesheet" type="text/css" href="{{site.basedir}}static/css/{{ includecss }}">
    {% endif %}
</head>

<body class="gefdocs-body">
    <p class="gef-sr gef-sr__focusable gef-sr__overlay" tabindex="0">
        <a href="#main" onfocus="this.parentNode.classList.add('gef-sr__focused')"
            onblur="this.parentNode.classList.remove('gef-sr__focused')">Skip
            to content</a>
    </p>

    <header>
        <div class="gefdocs-header gs-u-clearfix">
            <div class="gel-wrap">
                <a href="http://www.bbc.co.uk/"><svg aria-label="BBC GEL Logo" width="100" height="24"
                        viewBox="0 0 100 24">
                        <title>BBC</title>
                        <image xlink:href="{{site.basedir}}static/images/bbc-blocks_grey.svg"
                            src="{{site.basedir}}static/images/bbc-blocks_grey.png" width="100%" height="100%"></image>
                    </svg></a>
            </div>
        </div>
        <div class="gefdocs-header__banner gs-u-clearfix">
            <div class="gel-wrap">
                <div class="gel-layout">
                    <div class="gel-layout__item gel-2/5@l"
                        style="text-align:left; padding-left:14px; margin-bottom:32px; margin-top: -10px;">
                        <a href="{{site.basedir}}" class="gefdocs-logo"><img src="{{site.basedir}}static/images/bbc-gel-tags.png" style="max-width: 175px;"></a>
                    </div>
                    {#% if linkback %}
                    <div class="gel-layout__item gel-2/5@l gel-pull__right@l" style="margin-bottom: 16px;">
                        <a class="gefdocs-button gefdocs-button--dark gel-long-primer-bold" href="{{linkback}}">
                            Go to BBC GEL
                        </a>
                    </div>
                    {% endif %#}
                </div>
            </div>
        </div>
    </header>

    <main id="main" tabindex="-1" class="gel-wrap gs-u-clearfix">
        <div class="gel-layout">
            <div class="gel-layout__item gel-1/5@l">
                <!-- column placeholder-->
            </div>

            <div class="gel-layout__item gel-2/5@l" style="padding-right: 12px;">
                <h1 class="gefdocs-header__title">{{title}}</h1>
                <p class="gefdocs-header__summary gel-great-primer">{{summary}}</p>
            </div>
        </div>

        <div class="gel-layout">
            <div class="gel-layout__item gel-1/5@l">
                <nav role="navigation" id="side-nav" class="gel-side-nav sticky" data-sticky-for="900"
                    style="padding-top:32px">
                    <div class="gel-pica gs-u-mb gs-u-mt0">Contents</div>
                    {{ content | toc | safe }}
                </nav>
            </div>

            <div class="gefdocs-sections gefdocs-body-copy gel-layout__item gel-3/5@l">
                {{ content | safe }}
            </div>
        </div>
    </main>

    <div class="gefdocs-feedback-banner">
        <div class="gel-wrap">
            <div class="gel-layout">
                <div class="gel-layout__item gel-2/3@l gel-3/5@xl">
                    <h2 class="gefdocs-feedback-banner__title">Got a minute?</h2>
                    <p>We'd love to know what you think of the Code GEL website.</p>
                    <a href="https://www.smartsurvey.co.uk/s/gel-website-feedback/"
                        class="gefdocs-button gefdocs-button__link-button gefdocs-feedback-banner__cta gefdocs-button--primary">
                        <span class="gefdocs-button__content">Go to survey</span>
                        <span class="gefdocs-button__icon_wrapper">
                            <svg class="gefdocs-button__icon gefdocs-icon gefdocs-icon--text">
                                <use xlink:href="{{site.basedir}}static/images/gel-icons-core-set.svg#gel-icon-external-link"
                                    style="fill:undefined;"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{site.basedir}}static/js/gef.js"></script>

    {% if includejs %}
    <script type="text/javascript" src="{{site.basedir}}static/js/{{ includejs }}"></script>
    {% endif %}

    <script type="text/javascript">
        new Sticky('.sticky');
    </script>
</body>

</html>