/*-- util -----------------------------*/

.gel-u-flex-rw {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
 }

.gel-u-flex-rw, .gel-u-flex-rw * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gel-u-flex-rt {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  width: 50%;
  -moz-box-flex: 1;
}

.gel-u-flex-lf {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 50%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}