/**
 * Dependencies
 */
@import "gel-foundations";
@import 'atoms/colours';
@import 'bbc-grandstand/dist/bbc-grandstand.min.css';
@import 'reith.css';
@import "components/common/util";
@import "components/common/mixins";

/**
 * Components
 */
@import "components/gel-promos";
@import "components/gel-tabs";
@import "components/gel-cards";
@import "components/gel-carousels";
@import "components/gel-external-links";

