/**
 * site settings
 */

$gel-grid-enable--markup-output: true;
$gel-grid-enable--1280-breakpoint: true;
$gel-grid-enable--box-sizing: true;

$gel-type-enable--markup-output: true;
$gel-type-enable--font-family: false;
$gel-type-enable--base-elements: true;

/**
 * gel atoms
 */
@import 'atoms/animations';
@import 'atoms/colours';
@import 'atoms/gel-z-index';
@import 'atoms/sr';

/**
 * dependencies
 */
@import "gel-foundations";
@import "components/common/util";
@import "components/common/mixins";

@media (min-width: 56.25em) {
  .gel-pull__right\@l {
    text-align: right !important;
  }
}

$gel-color--brand: #397cb8;

div#gel-app {
  @include gel-typography('body-copy');
}

body {
    font-size: 62.5%;
    font-family: Arial,Helvetica,freesans,sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
}

main:focus {
  outline: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.gefdocs-body-copy {
  a {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid $gel-color--link-underline;
  }

  a:hover {
    color: $gel-color--brand;
    border-bottom: 1px solid $gel-color--brand;
    transition: 300ms;
  }

  h1, h2, h3, h4, h5, h6, li {
    a {
      border-bottom:  1px solid transparent;
    }
    a:hover {
      border-bottom: 1px solid $gel-color--brand;
    }
  }

  h2 {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    margin-top: 64px;
  }
}

.gefdocs-link--last-word {
  white-space: nowrap;
}

.gefdocs-icon--inline-text {
  height: 0.75em;
  width: 0.75em;
  left: 0;
  top: 0.3em;
  margin-left: 0.2em;
  padding-top: 0.055em;
}

.orb-nav-pri a:hover {
  color: inherit;
}

/* Type Styles for the Code GEL website body */
.gefdocs-body, .gefdocs-article-body {
  @include gel-typography('body-copy');

  h1 {
    @include gel-typography('canon-bold');
    font-weight: 800;
    letter-spacing: normal;
    margin-top: $gel-alt-spacing-unit;
    margin-bottom: $gel-alt-spacing-unit;
  }

  h2 {
    @include gel-typography('trafalgar-bold');
    letter-spacing: normal;
    padding-top: triple($gel-alt-spacing-unit) - 4;
    margin-top: double($gel-alt-spacing-unit);
    margin-bottom: triple($gel-spacing-unit);
  }

  h3 {
    @include gel-typography('great-primer-bold');
    letter-spacing: normal;
    margin-top: double($gel-spacing-unit) + 4;
    margin-bottom: $gel-alt-spacing-unit;
  }

  h4 {
    @include gel-typography('pica-bold');
    letter-spacing: normal;
    margin-top: double($gel-spacing-unit) + 4;
    margin-bottom: $gel-alt-spacing-unit;
  }

  p {
    margin-bottom: double($gel-spacing-unit);
    @include mq($from: gel-bp-xxl) {
      margin-bottom: double($gel-spacing-unit) + 4;
    }
  }

  code.hljs {
    padding: double($gel-spacing-unit);
    margin: double($gel-spacing-unit);
  }
}

.gefdocs-feedback-banner {
    margin-top: 192px;
}

/*
 * Use full font if JavaScript has put b-reith-sans-loaded on the <html> element.
 *
 * 1. Override gel-typography classes which set negative letter spacing as this
 *    is no longer require in the new font. This code should be removed once all
 *    products are using the new font and should be moved to the gel-typography
 *    code base. https://jira.dev.bbc.co.uk/browse/GELWEB-847
 */

/*
 */

/* are there other fonts we can use as fallbacks here? */

.serif
{
  font-family: "Times New Roman", serif;
}

.b-reith-loaded .serif
{
  @include reith(true);
}

.sans
{
  font-family: Helvetica, Arial, freesans, sans-serif;
}

.b-reith-sans-loaded .sans
{
  @include reith(false);
}


// Rules to hide/show elements depending on nonJS version
.noscriptElement {
  display: none;
}

.noscript {
  .noscriptElement {
    display: block;
  }
}

.noscript {
  .gefdocs-enhanced {
    display: none;
  }
}

/*
 * gel styles
 */

/* header */

.gefdocs-logo {
  display: inline-block;
  font-size: 46px;
  font-weight:700;
  color:#404040;
  letter-spacing: -1.3333px;
}
@media (max-width: 37.5em) {
  .gefdocs-logo {
    margin-left: -8px;
  }
}

.gefdocs-header {
    background: #fff;
    padding: 8px 0 3px 0;
    border-bottom: 1px solid #dcdcdc
}
.gefdocs-header .gel-wrap {
  padding-left: 8px !important;
}

.gefdocs-header__banner {
  padding: 24px 0 16px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 24px;
}

.gefdocs-header__data {
    margin-top: 24px
}

.gefdocs-header__title {
    margin: 12px 0 24px;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 32px;
    line-height: 2rem;
    font-weight: 700;
    font-weight: 800
}

@media (min-width: 20em) {
    .gefdocs-header__title {
        font-size:32px;
        font-size: 2rem;
        line-height: 36px;
        line-height: 2.25rem
    }
}

@media (min-width: 37.5em) {
    .gefdocs-header__title {
        font-size:52px;
        font-size: 3.25rem;
        line-height: 56px;
        line-height: 3.5rem
    }

    .no-touch .gefdocs-header__title {
        font-size: 44px;
        font-size: 2.75rem;
        line-height: 48px;
        line-height: 3rem
    }
}

/* good and bad */

.circular {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-right: 4px;
    width: 21px;
    line-height: 21px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    color: white;
    background: #333;
    font-family: "Lucida Sans Unicode", "Arial Unicode MS", Verdana, "Verdana Ref", sans-serif !important;
}

.circular__good {
  background: #789e42;
}
.circular__bad {
  background: #bb3626;
}

/* breakout */

.gefdocs-breakout-box {
    background: #eee;
    padding: 8px;
    margin: 20px 0 32px 0;
    width: 100%
}

.gefdocs-breakout-box.extra-padding {
    padding: 16px 16px 16px 18px
}
.gefdocs-breakout-box.extra-margin {
    margin-top: 18px;
}

.gefdocs-breakout-box h4 {
    margin-top: 8px;
    margin-bottom: 8px
}

.gefdocs-breakout-box p {
    overflow: hidden;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 18px;
    line-height: 1.125rem;
    color: #404040;
}
.b-reith-sans-loaded .gefdocs-breakout-box p {
    @include reith(false, true);
}

@media (min-width: 37.5em) {
    .gefdocs-breakout-box p {
        line-height:20px;
        line-height: 1.25rem
    }

    .no-touch .gefdocs-breakout-box p {
        font-size: 14px;
        font-size: .875rem;
        line-height: 18px;
        line-height: 1.125rem
    }
}

.gefdocs-breakout-box__icon {
    float: left;
    display: inline;
    margin-right: 8px;
    position: relative;
    top: 1px
}

.gefdocs-standout-box {
  background: #eee;
  width: 100%;
  overflow: auto;
  zoom: 1;
  padding: double($gel-spacing-unit);
  @include gel-typography('brevier');
  dt, dd {
    float: left;
    line-height: 150%;
  }
  dt {
    clear:both;
    font-weight: bold;
  }
  dd {
    margin-inline-start: 8px;
  }
}

/* toc */

.gefdocs-toc {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
@media (min-width: 900px) {
  #side-nav {
    padding-top: 4 * $gel-spacing-unit + 4;
  }
}
.gefdocs-toc li {
  margin-bottom: 2px;
}

.gefdocs-toc a {
  text-decoration: none;
  font-weight: bold;
  line-height: 160%;
  border-bottom: 1px solid transparent
}
.gefdocs-toc a:hover,
.gefdocs-toc a:focus,
.gefdocs-toc li.active a {
  color: $gel-color--brand;
  transition: .3s
}

.gefdocs-toc a:hover {
  border-bottom: 1px solid $gel-color--brand;
  transition: .3s
}

/* icon */

.gefdocs-icon {
    fill: currentColor
}

.gefdocs-icon--small {
    height: 16px;
    width: 16px
}

.gefdocs-icon--medium {
    height: 32px;
    width: 32px
}

.gefdocs-icon--large {
    height: 64px;
    width: 64px
}

.gefdocs-icon--text {
    margin-top: .1em;
    height: 1em;
    width: 1em;
    vertical-align: text-top
}

/* snippet */

pre {
  margin-top: 32px;
  margin-bottom: 32px;
  tab-size: 2;
}

/* body-copy */

.b-reith-loaded .gefdocs-body-copy {
  p, ol, ul {
    @include reith(true);
  }
}

.gefdocs-body-copy {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem;
}

@media (min-width: 20em) {
  .gefdocs-body-copy {
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
}

@media (min-width: 37.5em) {
  .gefdocs-body-copy {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
  }
  .no-touch .gefdocs-body-copy {
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
}

body {
  font-family: Helvetica, Arial, freesans, sans-serif;
}


/* button */

.gefdocs-button {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-size: .9375rem;
    font-weight: 800 !important;
    line-height: 18px;
    line-height: 1.125rem;
    margin: 16px 0;
    padding: 16px;
    text-decoration: none
}
.b-reith-sans-loaded .gefdocs-button {
    font-family: ReithSans;
}
a.gefdocs-button:hover {
    color: white;
}

@media (min-width: 37.5em) {
    .gefdocs-button {
        line-height:20px;
        line-height: 1.25rem
    }

    .no-touch .gefdocs-button {
        font-size: 14px;
        font-size: .875rem;
        line-height: 18px;
        line-height: 1.125rem
    }
}

.gefdocs-button:hover:not(.is-disabled) {
    text-decoration: none
}

.gefdocs-button.is-disabled {
    cursor: default;
    opacity: .6
}

.gefdocs-button.gefdocs-button--primary {
    background: transparent;
    border-color: #5a5a5a;
    color: #404040;
    transition: background-color .2s ease
}

.gefdocs-button.gefdocs-button--primary:hover {
    transition: .3s;
    border: 1px solid #397cb8;
    color: #397cb8
}

.gefdocs-button.gefdocs-button--primary:hover .gefdocs-button__content {
    text-decoration: none;
    border-bottom: 1px solid #397cb8;
    transition: border-bottom .3s
}

.gefdocs-button__content {
    border-bottom: 1px solid transparent;
    margin-right: 12px;
    float: left
}

.gefdocs-button--secondary {
    border-color: #404040;
    color: #404040;
    background: transparent
}

.gefdocs-button--light {
    border-color: #fff;
    color: #fff;
    background: transparent
}

.gefdocs-button--light:hover {
    transition: .3s
}

.gefdocs-button--light:hover .gefdocs-button__content {
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: border-bottom .3s
}

.gefdocs-button--minor {
    background: transparent
}

.gefdocs-button--dark {
  text-decoration: none;
  background: #121212;
  color: #fff
}

.gefdocs-button--dark:hover:not(.is-disabled) {
    text-decoration: underline;
}

.gefdocs-button--danger {
    background: #e4134f;
    color: #fff
}

.gefdocs-button--danger:hover:not(.is-disabled) {
    background: #b50f3f
}

.gefdocs-input {
    border: 1px solid #121212;
    padding: 12px;
    width: 100%;
    background: #fff;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 20px;
    line-height: 1.25rem
}

@media (min-width: 20em) {
    .gefdocs-input {
        font-size:16px;
        font-size: 1rem;
        line-height: 20px;
        line-height: 1.25rem
    }
}

@media (min-width: 37.5em) {
    .gefdocs-input {
        font-size:18px;
        font-size: 1.125rem;
        line-height: 22px;
        line-height: 1.375rem
    }

    .no-touch .gefdocs-input {
        font-size: 16px;
        font-size: 1rem;
        line-height: 20px;
        line-height: 1.25rem
    }
}

/* feedback banner */

.gefdocs-feedback-banner {
    background-color: #ffdc48;
    color: #404040;
    padding: 32px 0;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    line-height: 1.375rem
}

@media (min-width: 37.5em) {
    .gefdocs-feedback-banner {
        font-size:21px;
        font-size: 1.3125rem;
        line-height: 24px;
        line-height: 1.5rem
    }

    .no-touch .gefdocs-feedback-banner {
        font-size: 20px;
        font-size: 1.25rem
    }
}

.gefdocs-feedback-banner p {
    max-width: 600px;
    margin-top: 0
}

.gefdocs-feedback-banner__icon {
    padding-bottom: 24px;
    margin-top: 24px
}

.gefdocs-feedback-banner__icon svg {
    width: 72px;
    height: 72px
}

.gefdocs-feedback-banner__title {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-weight: 700;
    letter-spacing: normal;
    font-stretch: 100%;
    margin-bottom: 16px;
    margin-top: 24px
}

@media (min-width: 20em) {
    .gefdocs-feedback-banner__title {
        font-size:24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem
    }
}

@media (min-width: 37.5em) {
    .gefdocs-feedback-banner__title {
        font-size:36px;
        font-size: 2.25rem;
        line-height: 40px;
        line-height: 2.5rem
    }

    .no-touch .gefdocs-feedback-banner__title {
        font-size: 32px;
        font-size: 2rem;
        line-height: 36px;
        line-height: 2.25rem
    }
}

.gefdocs-feedback-banner__cta {
    margin-top: 16px;
    margin-bottom: 16px
}

.gefdocs-feedback-banner__cta .gefdocs-button__icon {
    height: 16px;
    width: 16px;
    position: relative
}

.gefdocs-feedback-banner__cta .gefdocs-button__icon svg {
    position: absolute;
    top: 2px;
    left: 0
}

a.gefdocs-button.gefdocs-button__link-button {
    font-size: 15px;
    font-size: .9375rem;
    line-height: 18px;
    line-height: 1.125rem;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    text-align: center
}

@media (min-width: 37.5em) {
    a.gefdocs-button.gefdocs-button__link-button {
        line-height:20px;
        line-height: 1.25rem
    }

    .no-touch a.gefdocs-button.gefdocs-button__link-button {
        font-size: 14px;
        font-size: .875rem;
        line-height: 18px;
        line-height: 1.125rem
    }
}


/* two-colum definition list */
@media (min-width: 37.5em) {
  dl.gefdocs-2col-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: "Times New Roman", serif;
  }
  .b-reith-loaded dl.gefdocs-2col-list {
      font-family: ReithSerif !important;
  }

  dl.gefdocs-2col-list dt {
    padding: 1rem 0;
    flex: 0 0 35%;
    overflow: hidden; /* Prevents long words in labels from causing layout to break */
  }

  dl.gefdocs-2col-list dd {
    padding: 1rem 0 1rem 0;
    margin-left: 0;
    flex: 65% 0 0;
    padding-left: 1rem;
    max-width: 65%; /* Fix for IE issue in which box-sizing is not taken into account when using flex */
  }

  dl.gefdocs-2col-list dd + dd {
    margin-left: 35%;
  }

  dl.gefdocs-2col-list dt {
    flex: 0 0 25%;
  }
  dl.gefdocs-2col-list dd {
    flex: 75% 0 0;
    max-width: 75%;
  }
  dl.gefdocs-2col-list dd + dd {
    margin-left: 25%;
  }

  dl.gefdocs-2col-list *, dl.gefdocs-2col-list *:after, dl.gefdocs-2col-list *:before {
    box-sizing: border-box;
  }
}
@media (max-width: 37.5em) {
  dl.gefdocs-2col-list dt {
    padding-top: 1rem;
  }
  dl.gefdocs-2col-list dd {
    margin-left: 0;
  }
  dl.gefdocs-2col-list dd + dd {
    margin-left: 0;
  }
}

/* hacks */

hr.footnotes-sep {
  display: none;
}

sup.footnote-ref {
  margin: -8px 4px 0 4px;
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  border: 2px solid;
  padding: 0.5rem;
}