/**
 * GEL PROMOS
 */

.codegel-promos {
  margin: 0;
  padding: 0;
}

.codegel-promos>*+* {
  margin-top: 1rem;
}

@supports (display: grid) {
  .codegel-promos>*+* {
    margin-top: 0;
  }

  .codegel-promo {
    margin: 0;
  }

  .codegel-promos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    grid-gap: 1rem;
  }
}

.codegel-promo {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
}

.codegel-promo,
.codegel-promo p {
  @include reith(false);
}

.codegel-promo-content {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.codegel-promo-image {
  order: -1;
  height: 10rem;
  overflow: hidden;
}

.codegel-promo-image img {
  height: 100%;
  width: auto;
}

@supports (object-fit: cover) {
  .codegel-promo-image img {
    width: 100%;
    object-fit: cover;
  }
}

.codegel-promo-headline {
  font-weight: bold;
}

.codegel-promo-headline * {
  font-weight: inherit;
}

.codegel-metadata-strip {
  margin: 0;
  margin-top: auto;
  padding-top: 1rem;
}

.codegel-metadata-strip>div {
  display: inline-block;
  white-space: nowrap;
}

.codegel-metadata-strip>div+div::before {
  content: '';
  border-left: 1px solid;
  margin: 0 0.25rem;
  color: $gel-color--dusty-gray;
}

.codegel-metadata-strip dt,
.codegel-metadata-strip dd {
  margin: 0;
  display: inline;
}

@supports (display: grid) {
  .codegel-promos.codegel-promos-horizontal {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.codegel-promo.codegel-promo-horizontal {
  flex-direction: row;
}

.codegel-promo.codegel-promo-horizontal .codegel-promo-image {
  width: 15rem;
  max-width: 50%;
  height: auto;
}

.vh {
  clip-path: inset(100%) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.codegel-promo-headline a {
  font-weight: bold;
  text-decoration: none;
}

.codegel-promo-headline a:focus,
.codegel-promo-headline a:hover {
  outline: none;
  //text-decoration: underline;
}

.codegel-promo:focus-within {
  outline: 0.25rem solid;
}

.codegel-metadata-strip a {
  text-decoration: underline;
}

.codegel-metadata-strip a {
  text-decoration: none;
}

.codegel-metadata-strip a:focus,
.codegel-metadata-strip a:hover {
  outline: none;
  //text-decoration: underline;
}