.codegel-cards {
  margin: 0;
  padding: 0;
}

.codegel-cards>*+* {
  margin-top: 1rem;
}

@supports (display: grid) {
  .codegel-cards>*+* {
    margin-top: 0;
  }

  .codegel-card {
    margin: 0;
  }

  .codegel-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    grid-gap: 1rem;
  }
}

.codegel-card {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
  position: relative;
}

.codegel-card-content {
  position: relative;
  order: -1;
  overflow: hidden;
  height: 10rem;
}

.codegel-card-content img,
.codegel-card-content video {
  height: 100%;
  width: auto;
}

@supports (object-fit: cover) {
  .codegel-card-content img, 
  .codegel-card-content video {
    width: 100%;
    object-fit: cover;
  }
}

.codegel-card-headline, .codegel-card-desc {
  padding-left: 1rem;
  padding-right: 1rem;
}

.codegel-card-toolbar {
  height: 2.5rem;
  list-style: none;
  display: flex;
  padding: 0.5rem 1rem;
  background-color: #e5e5e5;
  margin-top: auto;
}

.codegel-card-toolbar button {
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  display: inline-block;
  color: $gel-color--tundora;
}

.codegel-card-toolbar > *:first-child {
  margin-right: auto;
}

.codegel-card-toolbar > * + * {
  margin: 0;
  margin-left: 0.5rem;
}

.codegel-card-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 2.5rem;
  left: 0;
  margin: 0;
  padding: 1rem;
  background-color: #F1F1F1;
  overflow-y: auto;
}

/* Video */

.codegel-card .codegel-card-play-button,
.codegel-card .codegel-card-mute-button {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border: 0;
  border-radius: 0;
  background-color: hsla(0, 0%, 100%, 0.5);
  color: $gel-color--tundora;
  position: absolute;
  bottom: 0;
}

.codegel-card .codegel-card-play-button:focus,
.codegel-card .codegel-card-mute-button:focus {
  outline: 2px solid $gel-color--black;
}

.codegel-card .codegel-card-mute-button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  top: 0;
  right: 0;
}