.gel-form-divider * {
  font-size: inherit;
  font-family: inherit;
}

.gel-form-divider > * + * {
  display: block;
  margin: 0;
  margin-top: 0.125rem;
}

.gel-form-divider label small {
  display: block;
  font-size: 0.75rem;
}

.gel-form-divider + .gel-form-divider {
  margin-top: 1.5rem;
}

.gel-form-divider input {
  border: 1px solid;
  width: 100%;
  max-width: 60ch;
  padding: 0.25rem;
}

.gel-form-divider input:focus {
  outline: 2px solid;
}

.gel-form-field-error,
.gel-form-warning {
  padding: 0.25rem;
  background-color: $gel-color--pink;
  color: $gel-color--white;
  max-width: 60ch;
}

.gel-form-field-error:empty,
.gel-form-warning:empty {
  display: none;
}

.gel-form-warning {
  background-color: $gel-color--yellow;
  color: $gel-color--black;
}


