.codegel-button, .codegel-cta {
  padding: $gel-spacing-unit;
  color: $gel-color--black;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  border: 3px solid $gel-color--black;
}

.codegel-button {
  background-color: $gel-color--black;
  color: $gel-color--white;
}

.codegel-cta {
  text-decoration: none;
}

.codegel-button svg, .codegel-cta svg {
  fill: currentColor;
  margin-top: .1em;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
}

.codegel-button-switch [aria-hidden] {
  display: inline-block;
  margin-left: $gel-spacing-unit;
  font-weight: bold;
  background-color: $gel-color--white;
  color: $gel-color--black;
  padding: 0.125rem 0.25rem;
  vertical-align: middle;
}

.codegel-button:hover {
  background-color: $gel-color--tundora;
  border-color: $gel-color--tundora;
}

.codegel-cta:hover,
.codegel-cta:focus {
  border-color: $gel-color--tundora;
  text-decoration: underline;
  text-decoration-skip: objects;
}

.codegel-button:focus,
.codegel-cta:focus {
  outline: 3px solid $gel-color--blue;
}