.gef-tabs > section {
  background-color: $gel-color--dusty-gray;
  border: 2px solid transparent; /* for high contrast mode */
  padding: 1rem;
}

.gef-tabs > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gef-tabs > [role="tablist"] {
  display: flex;
  margin: -0.5rem;
  overflow: hidden;
}

.gef-tabs > ul [role="presentation"] {
  flex: 1 1 auto;
  margin: 0.5rem;
  min-width: 0;
}

.gef-tabs > ul a {
  display: block;
  padding: 0.5rem 1rem;
  color: inherit;
  background-color: $gel-color--alto;
  border: 2px solid transparent; /* for high contrast mode */
  border-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gef-tabs > ul [role="tab"] {
  text-decoration: none;
  text-align: center;
}

.gef-tabs > ul a:focus,
.gef-tabs > section:focus {
  outline: 2px solid;
  outline-offset: -2px;
}

.gef-tabs [aria-selected] {
  background-color: $gel-color--dusty-gray;
}

@media (-ms-high-contrast: active) {
  .gef-tabs [aria-selected] {
    position: relative;
    top: 2px;
  }
}