
/* list version */
.gef-external-links {
  list-style-type: none;
  padding: 0;
}

.gef-external-links li::before {
  content: '\200B';
}

.gef-external-links li + li {
  margin-top: 0.5rem;
}

/* 
Prevent widows for inline external links
by wrapping the icon and the last word in 
this <span> style
*/
span.gef-nowrap {
  white-space: nowrap;
}

