.gef-sharetools-options {
  padding: 0;
  margin-top: 0;
}

.gef-sharetools-options > li {
  display: inline-block;
}

.gef-sharetools-link-input {
  border: 0;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
}

@supports (display: flex) {
  .gef-sharetools-options {
    display: flex;
    flex-wrap: wrap;
    margin: -0.125rem;
  }

  .gef-sharetools-options > li {
    margin: 0.125rem;
  }
}