.gef-pocket-truncated {
  overflow-y: hidden;
}

.gef-pocket-foot {
  text-align: center;
  border: 2px solid $gel-color--tundora;
  height: 0;
}

.gef-pocket-foot.gef-pocket-foot-shown {
  margin-top: double($gel-spacing-unit);
}

.gef-pocket-foot.gef-pocket-foot-shown svg {
  transform: rotate(180deg);
}

.gef-pocket-foot button {
  transform: translateY(-50%);
}

.gef-pocket [inert] {
  opacity: 0.5;
}

.gef-pocket-foot button:focus {
  outline: none;
}

.gef-pocket-continue {
  font-weight: bold;
  outline-color: transparent;
}

@keyframes focus {
  0%{
    outline-color: transparent;
  }
  50% {
    outline-color: $gel-color--tundora;
  }
  100% {
    outline-color: transparent;
  }
}

.gef-pocket-continue:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  animation: focus 1s linear 1;
}