.gef-promo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: $gel-color--alto;
  outline: 2px solid transparent; /* for high contrast mode */
}

.gef-promo-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.gef-promo-image {
  height: 10rem;
  overflow: hidden;
  position: relative;
  /* to improve the appearance where 
  object fit isn't supported ↓ */
  text-align: center;
  background-color: $gel-color--tundora;
}

.gef-promo-image img {
  height: 100%;
  width: auto;
}

@supports (object-fit: cover) {
  .gef-promo-image img {
    width: 100%;
    object-fit: cover;
  }
}

.gef-promo-headline {
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.gef-promo-headline::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gef-promo a:not(.gef-promo-headline) {
  position: relative;
}

.gef-promo-headline:hover,
.gef-promo-headline:focus {
  outline: none;
  text-decoration: underline;
}

.gef-promo:focus-within {
  outline: 0.25rem solid;
}

.gef-promo .gel-icon {
  margin-top: 0;
}

.gef-promo-indicator {
  padding: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
  font-size: 0.85rem;
}

svg + .gef-promo-indicator-text {
  margin-left: 0.25rem;
}

.gef-promo-content .gef-metadata-strip {
  padding: 0;
  margin: 0;
  margin-top: auto;
}

.gef-promo.gef-promo-horizontal {
  flex-wrap: wrap;
  flex-direction: row;
}

.gef-promo.gef-promo-horizontal .gef-promo-image {
  flex: 1;
  min-width: 266px;
  height: auto;
}

.gef-promo.gef-promo-horizontal .gef-promo-content {
  min-width: 266px;
  flex: 999;
}

.gef-promos {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.gef-promos > * {
  flex: 0 0 266px;
  margin: 0 1rem 1rem 0;
}

@supports (display: grid) {
  .gef-promos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    margin: 0;
    grid-gap: 1rem;
  }

  .gef-promo.gef-promo-horizontal {
    grid-column: span 2;
  }
  
  .gef-promos > * {
    margin: 0;
    max-width: none;
  }
}