/**
 * Dependencies
 */
/**
 * GEL foundations
 */
/* autoprefixer: off */
/**
 * Base
 */
/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
@import url(bbc-grandstand/dist/bbc-grandstand.min.css);
@import url(reith.css);
.codegel-sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

/**
 * Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link https://www.drupal.org/node/897638
 */
.codegel-sr__focusable:active,
.codegel-sr__focusable:focus,
.codegel-sr__focused {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  white-space: normal;
  width: auto; }

.codegel-sr__overlay {
  position: absolute;
  top: 18px;
  left: 18px;
  width: auto;
  height: auto;
  color: #333;
  background: #eee;
  padding: 18px;
  border: 3px solid #333; }

/**
 * Settings
 */
/**
 * Generic
 */
html {
  box-sizing: border-box; }

#orb-banner, #orb-footer {
  box-sizing: content-box; }

body {
  color: #404040;
  font-family: Helvetica, Arial, sans-serif; }
  body.is-masked {
    overflow-y: scroll;
    position: fixed;
    width: 100%; }

a {
  color: #404040;
  transition: color 300ms; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/**
 * Utility
 */
.gel-u-u-flex-grow {
  flex: 1; }

.gel-u-u-margin-right {
  margin-right: 12px; }

.gel-u-u-margin-bottom {
  margin-bottom: 12px; }

.gel-u-u-mb\+ {
  margin-bottom: 24px; }

.gel-u-u-mb\+\+ {
  margin-bottom: 36px; }

.gel-u-u-mb\+\+\+ {
  margin-bottom: 48px; }

.gel-u-u-ph\+\+ {
  padding-left: 32px;
  padding-right: 32px; }

.gel-u-u-full-width {
  display: block;
  width: 100%; }

.gel-u-u-clickable {
  cursor: pointer; }

/* icon */
.gel-icon {
  fill: currentColor; }

.gel-icon--small {
  height: 16px;
  width: 16px; }

.gel-icon--medium {
  height: 32px;
  width: 32px; }

.gel-icon--large {
  height: 64px;
  width: 64px; }

.gel-icon--text {
  margin-top: .1em;
  height: 1em;
  width: 1em;
  vertical-align: text-top; }

/*-- util -----------------------------*/
.codegel-u-flex-rw {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.codegel-u-flex-rw, .codegel-u-flex-rw * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.codegel-u-flex-rt {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  width: 50%;
  -moz-box-flex: 1; }

.codegel-u-flex-lf {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 50%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

/**
 * Components
 */
/**
 * GEL PROMOS
 */
.codegel-promos {
  margin: 0;
  padding: 0; }

.codegel-promos > * + * {
  margin-top: 1rem; }

@supports (display: grid) {
  .codegel-promos > * + * {
    margin-top: 0; }
  .codegel-promo {
    margin: 0; }
  .codegel-promos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    grid-gap: 1rem; } }

.codegel-promo {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1; }

.codegel-promo,
.codegel-promo p {
  font-family: ReithSans, Helvetica, Arial, freesans, sans-serif; }

.codegel-promo-content {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column; }

.codegel-promo-image {
  order: -1;
  height: 10rem;
  overflow: hidden; }

.codegel-promo-image img {
  height: 100%;
  width: auto; }

@supports (object-fit: cover) {
  .codegel-promo-image img {
    width: 100%;
    object-fit: cover; } }

.codegel-promo-headline {
  font-weight: bold; }

.codegel-promo-headline * {
  font-weight: inherit; }

.codegel-metadata-strip {
  margin: 0;
  margin-top: auto;
  padding-top: 1rem; }

.codegel-metadata-strip > div {
  display: inline-block;
  white-space: nowrap; }

.codegel-metadata-strip > div + div::before {
  content: '';
  border-left: 1px solid;
  margin: 0 0.25rem;
  color: #ccc; }

.codegel-metadata-strip dt,
.codegel-metadata-strip dd {
  margin: 0;
  display: inline; }

@supports (display: grid) {
  .codegel-promos.codegel-promos-horizontal {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); } }

.codegel-promo.codegel-promo-horizontal {
  flex-direction: row; }

.codegel-promo.codegel-promo-horizontal .codegel-promo-image {
  width: 15rem;
  max-width: 50%;
  height: auto; }

.vh {
  clip-path: inset(100%) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important; }

.codegel-promo-headline a {
  font-weight: bold;
  text-decoration: none; }

.codegel-promo-headline a:focus,
.codegel-promo-headline a:hover {
  outline: none; }

.codegel-promo:focus-within {
  outline: 0.25rem solid; }

.codegel-metadata-strip a {
  text-decoration: underline; }

.codegel-metadata-strip a {
  text-decoration: none; }

.codegel-metadata-strip a:focus,
.codegel-metadata-strip a:hover {
  outline: none; }

.codegel-tabs > section {
  background-color: #ccc;
  padding: 1rem; }

.codegel-tabs > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: -0.5rem; }

.codegel-tabs ul > li {
  flex: 1 1 auto;
  margin: 0.5rem;
  min-width: 0; }

.codegel-tabs > ul a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  color: inherit;
  background-color: #dcdcdc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.codegel-tabs > ul a:focus,
.codegel-tabs > section:focus {
  outline: 2px solid;
  outline-offset: -2px; }

.codegel-tabs [aria-current] {
  background-color: #ccc; }

.codegel-cards {
  margin: 0;
  padding: 0; }

.codegel-cards > * + * {
  margin-top: 1rem; }

@supports (display: grid) {
  .codegel-cards > * + * {
    margin-top: 0; }
  .codegel-card {
    margin: 0; }
  .codegel-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    grid-gap: 1rem; } }

.codegel-card {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
  position: relative; }

.codegel-card-content {
  order: -1;
  overflow: hidden;
  height: 10rem; }

.codegel-card-content img,
.codegel-card-content video {
  height: 100%;
  width: auto; }

@supports (object-fit: cover) {
  .codegel-card-content img,
  .codegel-card-content video {
    width: 100%;
    object-fit: cover; } }

.codegel-card-headline, .codegel-card-desc {
  padding-left: 1rem;
  padding-right: 1rem; }

.codegel-card-toolbar {
  height: 2.5rem;
  list-style: none;
  display: flex;
  padding: 0.5rem 1rem;
  background-color: #e5e5e5;
  margin-top: auto; }

.codegel-card-toolbar button {
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  display: inline-block; }

.codegel-card-toolbar > *:first-child {
  margin-right: auto; }

.codegel-card-toolbar > * + * {
  margin: 0;
  margin-left: 0.5rem; }

.codegel-card-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 2.5rem;
  left: 0;
  margin: 0;
  padding: 1rem;
  background-color: #F1F1F1;
  overflow-y: auto; }

/**
 * GEL CAROUSELS
 */
.codegel-carousel {
  position: relative;
  overflow: hidden; }

.codegel-carousel-scrollable {
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scroll-behavior: smooth; }

.codegel-carousel-scrollable::-webkit-scrollbar {
  height: 0.5rem; }

.codegel-carousel-scrollable::-webkit-scrollbar-track {
  background-color: #ccc; }

.codegel-carousel-scrollable::-webkit-scrollbar-thumb {
  background-color: #404040; }

.codegel-carousel-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; }

.codegel-carousel-list > li {
  flex-shrink: 0;
  width: 266px;
  transition: opacity 0.5s linear; }

.codegel-carousel-list > li[inert] {
  opacity: 0.3; }

.codegel-carousel-list > li + li {
  margin-left: 1rem; }

.codegel-carousel-buttons {
  position: absolute;
  right: 0;
  top: 3rem;
  z-index: 1; }

.codegel-carousel-buttons button {
  border: none;
  padding: 0.25rem;
  background-color: #fff;
  color: #404040; }

.codegel-carousel-buttons button:focus {
  outline: none;
  box-shadow: inset 0 0 0 0.125rem #404040; }

.codegel-carousel-buttons button svg {
  width: 2rem;
  height: auto;
  fill: none;
  stroke: currentColor;
  stroke-width: 2; }

.codegel-carousel-buttons button[disabled] {
  opacity: 0.5; }

.codegel-carousel-buttons button + button {
  margin-left: 0.25rem; }

/**
* EXTERNAL LINKS
*/
/* list version */
.codegel-external-links {
  list-style-type: none;
  padding: 0; }

.codegel-external-links li::before {
  content: '\200B'; }

.codegel-external-links li + li {
  margin-top: 0.5rem; }

/* 
Prevent widows for inline external links
by wrapping the icon and the last word in 
this <span> style
*/
span.codegel-nowrap {
  white-space: nowrap; }

.codegel-action-dialog {
  padding: 2rem;
  background-color: #ccc;
  position: fixed;
  text-align: center;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0; }

.codegel-action-dialog-center {
  top: 50%;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%); }

.codegel-action-dialog-desc {
  max-height: 30vh;
  overflow-y: auto; }

.codegel-action-dialog-buttons a,
.codegel-action-dialog-buttons button {
  margin: 0.5rem; }

.codegel-action-dialog-close {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  line-height: 0; }

.codegel-action-dialog-close svg {
  width: 1rem;
  height: 1rem; }

.codegel-action-dialog-open [inert] {
  opacity: 0.3; }

.codegel-masthead {
  font-size: 0.9rem; }

.codegel-masthead ul,
.codegel-masthead li {
  margin: 0;
  padding: 0; }

.codegel-masthead-bar {
  border-bottom: 1px solid #ccc; }

.codegel-masthead-links {
  border-left: 0; }

.codegel-masthead-logo img {
  height: 1em;
  display: block; }

.codegel-masthead-popup {
  padding: 0.75rem;
  border-bottom: 1px solid #ccc;
  position: relative; }

.codegel-masthead-close-button {
  font-size: 1.5rem;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem; }

.codegel-masthead-more-menu {
  border-bottom: 1px solid #ccc;
  padding: 0; }

.codegel-masthead-more-menu ul {
  list-style: none; }

.codegel-masthead-more-menu li {
  padding: 0.75rem;
  display: inline-block; }

.codegel-masthead a,
.codegel-masthead button {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  height: 100%; }

.codegel-masthead-bar a {
  display: inline-block;
  padding: 0.75rem; }

.codegel-masthead-bar a:hover,
.codegel-masthead-bar a:focus {
  outline: none;
  border-color: #404040; }

.codegel-masthead-banner {
  padding: 1.25rem 0.75rem;
  border-bottom: 1px solid #ccc; }

.codegel-masthead-banner a {
  display: inline-block;
  height: 2.5rem; }

.codegel-masthead-banner-logo svg {
  height: 100%;
  width: auto; }

.codegel-masthead-links,
.codegel-masthead-more-option,
.codegel-masthead-alerts-option,
.codegel-masthead-account-option,
.codegel-masthead-alerts {
  display: none; }

.codegel-masthead-with-js .gel-masthead-more-account-link,
.codegel-masthead-with-js .gel-masthead-more-alerts-link {
  display: none; }

@supports (display: flex) {
  .codegel-masthead-bar a,
  .codegel-masthead-bar button {
    white-space: nowrap;
    border: 0;
    line-height: 1;
    padding: 1rem 0.75rem 0.75rem;
    border-bottom: 0.25rem solid #fff; }
  .codegel-masthead-bar {
    display: flex;
    line-height: 1; }
  .codegel-masthead-bar > * + * {
    border-left: 1px solid #ccc; }
  .codegel-masthead-more-option {
    border-left: 0; }
  .codegel-masthead-links {
    border-left: 0; }
  .codegel-masthead-links ul {
    display: flex;
    list-style: none;
    white-space: nowrap;
    height: 100%; }
  .codegel-masthead-links li {
    border-right: 1px solid #ccc; }
  .codegel-masthead-links li:first-child {
    border-left: 1px solid #ccc; }
  .codegel-masthead-bar a,
  .codegel-masthead-bar button {
    display: block; }
  .codegel-masthead-search-option {
    margin-left: auto; }
  .codegel-masthead-links {
    overflow-x: auto; }
  .codegel-masthead-links-observed {
    overflow-x: hidden; }
  .codegel-masthead-link-hidden {
    visibility: hidden; }
  .codegel-masthead-links::-webkit-scrollbar {
    height: 0.125rem; }
  .codegel-masthead-links::-webkit-scrollbar-track {
    background-color: #dcdcdc; }
  .codegel-masthead-links::-webkit-scrollbar-thumb {
    background-color: #767676; }
  .codegel-masthead-more-option {
    position: relative;
    margin-right: auto; }
  .codegel-masthead-more-option-icon {
    display: none; }
  .codegel-masthead-links:not(.codegel-masthead-links-observed) + .codegel-masthead-more-option {
    border-left: 1px solid #ccc; }
  .codegel-masthead-links:not(.codegel-masthead-links-observed) + .codegel-masthead-more-option::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -6px;
    width: 6px;
    background-color: rgba(0, 0, 0, 0.05); }
  .codegel-masthead-more-menu-inner {
    display: flex;
    flex-wrap: wrap; }
  .codegel-masthead-more-menu-label {
    flex-grow: 1;
    margin: 0;
    padding: 0.75rem; }
  .codegel-masthead-more-menu ul {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 75%;
    display: flex;
    flex-wrap: wrap; }
  .codegel-masthead-more-menu li {
    flex: 0 1 10rem; }
  .codegel-masthead-with-js .codegel-masthead-links {
    display: flex; }
  .codegel-masthead-with-js .codegel-masthead-popup {
    display: none; }
  .codegel-masthead-banner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .codegel-masthead-account-option {
    position: relative; }
  .codegel-masthead-account-option::after {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    position: absolute;
    right: calc(-0.25rem - 1px);
    top: calc(50% - 0.25rem); }
  .codegel-masthead-with-js .codegel-masthead-more-option,
  .codegel-masthead-with-js .codegel-masthead-alerts-option,
  .codegel-masthead-with-js .codegel-masthead-account-option {
    display: block; }
  @media (max-width: 500px) {
    .codegel-masthead-more-option {
      border-left: 1px solid #ccc; }
    .codegel-masthead-more-option-icon {
      display: block; }
    .codegel-masthead-more-option-text,
    .codegel-masthead-with-js .codegel-masthead-links,
    .codegel-masthead-account-text,
    .codegel-masthead-more-option::before {
      display: none; } } }
