@charset "UTF-8";
/**
 * Dependencies
 */
/**
 * GEL foundations
 */
/* autoprefixer: off */
/**
 * Base
 */
/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
@import 'bbc-grandstand/dist/bbc-grandstand.min.css';
@import 'reith.css';
.gel-sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link https://www.drupal.org/node/897638
 */
.gel-sr__focusable:active,
.gel-sr__focusable:focus,
.gel-sr__focused {
  position: static;
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  white-space: normal;
  width: auto;
}

.gel-sr__overlay {
  position: absolute;
  top: 18px;
  left: 18px;
  width: auto;
  height: auto;
  color: #333;
  background: #eee;
  padding: 18px;
  border: 3px solid #333;
}

/**
 * Settings
 */
/**
 * Generic
 */
html {
  box-sizing: border-box;
}

#orb-banner, #orb-footer {
  box-sizing: content-box;
}

body {
  color: #404040;
  font-family: Helvetica, Arial, sans-serif;
}
body.is-masked {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

a {
  color: #404040;
  transition: color 300ms;
}

button {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Utility
 */
.gel-u-u-flex-grow {
  flex: 1;
}

.gel-u-u-margin-right {
  margin-right: 12px;
}

.gel-u-u-margin-bottom {
  margin-bottom: 12px;
}

.gel-u-u-mb\+ {
  margin-bottom: 24px;
}

.gel-u-u-mb\+\+ {
  margin-bottom: 36px;
}

.gel-u-u-mb\+\+\+ {
  margin-bottom: 48px;
}

.gel-u-u-ph\+\+ {
  padding-left: 32px;
  padding-right: 32px;
}

.gel-u-u-full-width {
  display: block;
  width: 100%;
}

.gel-u-u-clickable {
  cursor: pointer;
}

/* icon */
.gel-icon {
  fill: currentColor;
}

.gel-icon--small {
  height: 16px;
  width: 16px;
}

.gel-icon--medium {
  height: 32px;
  width: 32px;
}

.gel-icon--large {
  height: 64px;
  width: 64px;
}

.gel-icon--text {
  margin-top: 0.1em;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
}

@keyframes gel-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gel-icon-loading {
  animation-name: gel-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.gel-icon svg {
  fill: currentColor;
}

/*-- util -----------------------------*/
.gel-u-flex-rw {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.gel-u-flex-rw, .gel-u-flex-rw * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gel-u-flex-rt {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  width: 50%;
  -moz-box-flex: 1;
}

.gel-u-flex-lf {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 50%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/**
 * Components
 */
.gel-metadata-strip > div {
  display: inline-block;
  white-space: nowrap;
}

.gel-metadata-strip > div + div::before {
  content: "";
  border-left: 1px solid #767676;
  margin: 0 0.25rem;
}

.gel-metadata-strip dt,
.gel-metadata-strip dd {
  margin: 0;
  display: inline;
}

.gel-promo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: #dcdcdc;
  outline: 2px solid transparent;
  /* for high contrast mode */
}

.gel-promo__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.gel-promo__image {
  height: 10rem;
  overflow: hidden;
  position: relative;
  /* to improve the appearance where
  object fit isn't supported ↓ */
  text-align: center;
  background-color: #404040;
}

.gel-promo__label {
  background-color: #121212;
  color: #fff;
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 10;
}

.gel-promo__image img {
  height: 100%;
  width: auto;
}

@supports (object-fit: cover) {
  .gel-promo__image img {
    width: 100%;
    object-fit: cover;
  }
}
.gel-promo__headline {
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.gel-promo__headline::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gel-promo a:not(.gel-promo__headline) {
  position: relative;
}

.gel-promo__headline:hover,
.gel-promo__headline:focus {
  outline: none;
  text-decoration: underline;
}

.gel-promo:focus-within {
  outline: 0.25rem solid;
}

.gel-promo .gel-icon {
  margin-top: 0;
}

.gel-promo__indicator {
  padding: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 0.85rem;
}

svg + .gel-promo__indicator-text {
  margin-left: 0.25rem;
}

.gel-promo__content .gel-metadata-strip {
  padding: 0;
  margin: 0;
  margin-top: auto;
}

.gel-promo.gel-promo--horizontal {
  flex-wrap: wrap;
  flex-direction: row;
}

.gel-promo.gel-promo--horizontal .gel-promo__image {
  flex: 1;
  min-width: 266px;
  height: auto;
}

.gel-promo.gel-promo--horizontal .gel-promo__content {
  min-width: 266px;
  flex: 999;
}

.gel-promos {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.gel-promos > * {
  flex: 0 0 266px;
  margin: 0 1rem 1rem 0;
}

@supports (display: grid) {
  .gel-promos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    margin: 0;
    grid-gap: 1rem;
  }

  .gel-promo.gel-promo--horizontal {
    grid-column: span 2;
  }

  .gel-promos > * {
    margin: 0;
    max-width: none;
  }
}
.gel-tabs > section {
  background-color: #ccc;
  border: 2px solid transparent;
  /* for high contrast mode */
  padding: 1rem;
}

.gel-tabs > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gel-tabs > [role=tablist] {
  display: flex;
  margin: -0.5rem;
  overflow: hidden;
}

.gel-tabs > ul [role=presentation] {
  flex: 1 1 auto;
  background-color: #dcdcdc;
  margin: 0.5rem;
  min-width: 0;
}

.gel-tabs > ul a {
  border: 2px solid transparent;
  /* for high contrast mode */
  border-bottom: 0;
  color: inherit;
  display: inline-block;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

.gel-tabs > ul [role=tab] {
  text-decoration: none;
}

.gel-tabs > ul a:focus,
.gel-tabs > section:focus {
  outline: 2px solid;
  outline-offset: -2px;
}

.gel-tabs [aria-selected=true] {
  background-color: #ccc;
}

@media (-ms-high-contrast: active) {
  .gel-tabs [aria-selected=true] {
    position: relative;
    top: 2px;
  }
}
.gel-breakout-box {
  background: #eee;
  border-top: 1px solid transparent;
  /* for high contrast mode */
  border-bottom: 1px solid transparent;
  /* for high contrast mode */
  padding: 8px;
  margin: 20px 0 32px 0;
  width: 100%;
}

.gel-breakout-box.extra-padding {
  padding: 16px 16px 16px 18px;
}

.gel-breakout-box.extra-margin {
  margin-top: 18px;
}

.gel-breakout-box h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.gel-breakout-box p {
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #404040;
}

.b-reith-sans-loaded .gel-breakout-box p {
  font-family: ReithSans, Helvetica, Arial, freesans, sans-serif !important;
}

@media (min-width: 37.5em) {
  .gel-breakout-box p {
    line-height: 20px;
    line-height: 1.25rem;
  }

  .no-touch .gel-breakout-box p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    line-height: 1.125rem;
  }
}
.gel-breakout-box__icon {
  float: left;
  display: inline;
  margin-right: 8px;
  position: relative;
  top: 1px;
}

.gel-standout-box {
  background: #eee;
  width: 100%;
  overflow: auto;
  zoom: 1;
  padding: 16px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
}
@media (min-width: 20em) {
  .gel-standout-box {
    line-height: 18px;
    line-height: 1.125rem;
  }
}
@media (min-width: 37.5em) {
  .no-touch .gel-standout-box {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 16px;
    line-height: 1rem;
  }
}
.gel-standout-box dt, .gel-standout-box dd {
  float: left;
  line-height: 150%;
}
.gel-standout-box dt {
  clear: both;
  font-weight: bold;
}
.gel-standout-box dd {
  margin-inline-start: 8px;
}

.gel-cards {
  list-style: none;
  padding: 0;
}

.gel-card {
  background-color: #F1F1F1;
  outline: 2px solid transparent;
  /* for high contrast mode */
  position: relative;
  display: flex;
  flex-direction: column;
}

.gel-card__content {
  position: relative;
  overflow: hidden;
  height: 10rem;
  order: -1;
}

.gel-cards {
  display: flex;
  flex-wrap: wrap;
}

.gel-cards > * {
  flex: 0 0 266px;
  margin: 0 1rem 1rem 0;
}

@supports (display: grid) {
  .gel-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    grid-gap: 1rem;
  }

  .gel-cards > * {
    margin: 0;
  }
}
.gel-card__content img,
.gel-card__content video {
  height: 100%;
  width: auto;
}

/* to neaten up where object-fit isn't supported */
.gel-card__content {
  text-align: center;
  background-color: #404040;
}

@supports (object-fit: cover) {
  .gel-card__content img,
.gel-card__content video {
    width: 100%;
    object-fit: cover;
  }
}
.gel-card__headline, .gel-card__desc {
  padding-left: 1rem;
  padding-right: 1rem;
}

.gel-card__toolbar {
  font-size: 0.85rem;
  height: 2.5rem;
  list-style: none;
  display: flex;
  background-color: #e5e5e5;
  margin-top: auto;
  border-top: 1px solid transparent;
  /* for high contrast mode */
}

.gel-card__toolbar button {
  background: none;
  border: none;
  font-size: inherit;
  display: inline-block;
  color: #404040;
}

.gel-card__toolbar > * {
  padding: 0.5rem 1rem;
}

.gel-card__toolbar [aria-expanded] {
  text-align: left;
  flex-grow: 999;
}

.gel-card__close-label {
  display: none;
}

[aria-expanded=true] .gel-card__close-label {
  display: block;
}

[aria-expanded=true] .gel-card__more-label {
  display: none;
}

.gel-card__toolbar button:hover,
.gel-card__toolbar button:focus {
  outline: 2px solid transparent;
  /* for high contrast mode */
  outline-offset: -2px;
  /* for high contrast mode */
  background-color: #007bb8;
  color: #fff;
}

.gel-card__info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 2.5rem;
  left: 0;
  margin: 0;
  padding: 1rem;
  background-color: #F1F1F1;
  overflow-y: auto;
}

.gel-card-info__heading:focus {
  outline: none;
}

/* Video */
.gel-card .gel-card__play-button,
.gel-card .gel-card__mute-button {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #404040;
  position: absolute;
  left: 0;
  bottom: 0;
}

.gel-card .gel-card__play-button:focus,
.gel-card .gel-card__mute-button:focus {
  outline: 2px solid #121212;
}

.gel-card .gel-card__mute-button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  top: 0;
  left: auto;
  right: 0;
}

.gel-carousel {
  position: relative;
  overflow: hidden;
}

.gel-carousel__scrollable {
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  .gel-carousel__scrollable {
    scroll-behavior: auto;
  }
}
.gel-carousel__scrollable::-webkit-scrollbar {
  height: 0.5rem;
}

.gel-carousel__scrollable::-webkit-scrollbar-track {
  background-color: #ccc;
}

.gel-carousel__scrollable::-webkit-scrollbar-thumb {
  background-color: #404040;
}

.gel-carousel__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.gel-carousel__list > li {
  display: flex;
  flex-shrink: 0;
  white-space: normal;
  width: 266px;
  transition: opacity 0.5s linear;
}

.gel-carousel__list > li + li {
  margin-left: 1rem;
}

.gel-carousel__list > li[inert] {
  opacity: 0.3;
}

.gel-carousel__buttons {
  position: absolute;
  right: 0;
  top: 3rem;
  z-index: 1;
}

.gel-carousel__buttons button {
  border: 0;
  padding: 0.5rem;
  background-color: #fff;
  color: #404040;
  font-size: 1.75rem;
}

.gel-carousel__buttons button:focus {
  outline: 2px solid transparent;
  /* for high contrast mode */
  outline-offset: -2px;
  /* for high contrast mode */
  box-shadow: inset 0 0 0 0.125rem #404040;
}

.gel-carousel__buttons button[disabled] {
  opacity: 0.5;
}

.gel-carousel__buttons button + button {
  margin-left: 0.25rem;
}

/* list version */
.gel-external-links {
  list-style-type: none;
  padding: 0;
}

.gel-external-links li::before {
  content: "​";
}

.gel-external-links li + li {
  margin-top: 0.5rem;
}

/* 
Prevent widows for inline external links
by wrapping the icon and the last word in 
this <span> style
*/
span.gel-nowrap {
  white-space: nowrap;
}

.gel-action-dialog {
  padding: 2rem;
  background-color: #ccc;
  border: 2px solid transparent;
  /* for high contrast mode */
  position: fixed;
  text-align: center;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.gel-action-dialog__center {
  top: 50%;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gel-action-dialog__desc {
  max-height: 30vh;
  overflow-y: auto;
}

.gel-action-dialog__buttons a,
.gel-action-dialog__buttons button {
  margin: 0.5rem;
}

.gel-action-dialog__close {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  line-height: 0;
}

.gel-action-dialog__close svg {
  width: 1rem;
  height: 1rem;
}

.gel-action-dialog--open [inert] {
  opacity: 0.3;
}

.gel-video__container {
  position: relative;
}

.gel-video__container button:focus {
  outline: 2px solid;
}

.gel-video {
  display: block;
  width: 100%;
  height: auto;
}

.gel-video__controls {
  padding: 0.5rem;
  background-color: #404040;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gel-video__play-button,
.gel-video__mute-button {
  border: 0;
  background: none;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  color: #fff;
}

.gel-video__timeline-container {
  padding: 0 0.5rem;
  flex: auto;
  display: flex;
  align-items: center;
}

.gel-video__timeline-container input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

.gel-video__timeline-container input[type=range]:focus {
  outline: none;
}

.gel-video__timeline-container input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #fff;
}

.gel-video__timeline-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 10px;
  background: #fff;
  cursor: pointer;
  margin-top: -7px;
}

.gel-video__timeline-container input[type=range]:focus::-webkit-slider-thumb {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.gel-video__timeline-container input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #fff;
}

.gel-video__timeline-container input[type=range]::-moz-range-thumb {
  border: 0;
  border-radius: 0;
  height: 20px;
  width: 10px;
  background: #fff;
  cursor: pointer;
}

.gel-video__timeline-container input[type=range]:focus::-moz-range-thumb {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper,
input[type=range]::-ms-thumb {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

.gel-video__button-on {
  display: none;
}

[class*=gel-video].active .gel-video__button-on {
  display: block;
}

[class*=gel-video].active .gel-video__button-off {
  display: none;
}

.gel-video__container [hidden] {
  display: none;
}

@media (-ms-high-contrast: active) {
  .gel-video__timeline-container input[type=range],
.gel-video__timeline-container input[type=range]::-webkit-slider-runnable-track,
.gel-video__timeline-container input[type=range]::-webkit-slider-thumb,
.gel-video__timeline-container input[type=range]:focus::-webkit-slider-runnable-track,
.gel-video__timeline-container input[type=range]::-webkit-slider-thumb,
.gel-video__timeline-container input[type=range]:focus::-webkit-slider-runnable-track,
.gel-video__timeline-container input[type=range]::-moz-range-track,
.gel-video__timeline-container input[type=range]::-moz-range-thumb {
    all: initial;
  }

  .gel-video__timeline-container input[type=range] {
    width: 100%;
    margin: 7px 0;
  }
}
.gel-table {
  overflow-x: auto;
  background-color: #fff;
  background-image: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 3rem), linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, transparent 1rem), linear-gradient(270deg, white 0%, rgba(255, 255, 255, 0) 3rem), linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0%, transparent 1rem);
  background-attachment: local, scroll, local, scroll;
  border: 1px solid #ccc;
}

.gel-table:focus {
  outline: 2px solid #404040;
}

.gel-table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.02);
}

.gel-table table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

.gel-table caption {
  text-align: left;
  font-weight: bold;
  border: 1px solid #ccc;
  border-bottom: 0;
  padding: 0.5rem;
}

.gel-table th,
.gel-table td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ccc;
}

.gel-table th {
  font-weight: bold;
}

.gel-table thead.gel-table__sticky th {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.gel-table thead th {
  position: relative;
}

.gel-table thead th:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
}

.gel-table__sort {
  all: unset;
  cursor: pointer;
}

.gel-table__sort:focus {
  outline: 2px solid #404040;
}

.gel-button, .gel-cta {
  padding: 16px;
  color: #121212;
  border: 2px solid transparent;
  /* for high contrast mode */
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: inherit;
}

.gel-cta, .gel-cta a {
  border: 1px solid #121212 !important;
}

.gel-button {
  background-color: #121212;
  color: #fff;
}

.gel-cta {
  text-decoration: none;
}

.gel-button, .gel-cta, a.gel-cta {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 37.5em) {
  .gel-button, .gel-cta, a.gel-cta {
    line-height: 20px;
    line-height: 1.25rem;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    line-height: 1.125rem;
  }
}
.gel-button svg, .gel-cta svg {
  fill: currentColor;
  margin-top: 0.1em;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
}

.gel-button svg:last-child, .gel-cta svg:last-child {
  margin-left: 0.9em;
}

.gel-button svg:first-child, .gel-cta svg:first-child {
  margin-right: 0.9em;
}

.gel-button svg:only-child,
.gel-button .gel-sr + svg {
  margin: 0;
}

.gel-button-switch [aria-hidden] {
  display: inline-block;
  border: 2px solid transparent;
  /* for high contrast mode */
  margin-left: 8px;
  font-weight: bold;
  background-color: #fff;
  color: #121212;
  padding: 0.125rem 0.25rem;
  vertical-align: middle;
}

.gel-button:hover {
  background-color: #404040;
  border-color: #404040;
}

.gel-cta:hover,
.gel-cta:focus {
  border-color: #404040;
  text-decoration: underline;
  text-decoration-skip: objects;
}

.gel-button:focus,
.gel-cta:focus {
  outline: 3px solid #006def;
}

.gel-form__divider * {
  font-size: inherit;
  font-family: inherit;
}

.gel-form__divider > * + * {
  display: block;
  margin: 0;
  margin-top: 0.125rem;
}

.gel-form__divider label small {
  display: block;
  font-size: 0.75rem;
}

.gel-form__divider + .gel-form__divider {
  margin-top: 1.5rem;
}

.gel-form__divider input {
  border: 1px solid;
  width: 100%;
  max-width: 60ch;
  padding: 0.25rem;
}

.gel-form__divider input:focus {
  outline: 2px solid;
}

.gel-form__field-error,
.gel-form__warning {
  padding: 0.25rem;
  background-color: #e4134f;
  border: 1px solid transparent;
  /* for high contrast mode */
  color: #fff;
  max-width: 60ch;
}

@media (-ms-high-contrast: active) {
  .gel-form__field-error,
.gel-form__warning {
    filter: invert(100%);
  }
}
.gel-form__field-error:empty,
.gel-form__warning:empty {
  display: none;
}

.gel-form__warning {
  background-color: #ffdc48;
  color: #121212;
}

.gel-pocket__truncated {
  overflow-y: hidden;
}

.gel-pocket__foot {
  text-align: center;
  border: 2px solid #404040;
  height: 0;
}

.gel-pocket__foot.gel-pocket--foot-shown {
  margin-top: 16px;
}

.gel-pocket__foot.gel-pocket--foot-shown svg {
  transform: rotate(180deg);
}

.gel-pocket__foot button {
  transform: translateY(-50%);
}

.gel-pocket [inert] {
  opacity: 0.5;
}

.gel-pocket__continue {
  font-weight: bold;
}

@keyframes focus {
  0% {
    outline-width: 0px;
  }
  50% {
    outline-width: 2px;
  }
  100% {
    outline-width: 0px;
  }
}
.gel-pocket__continue:focus {
  outline-style: solid;
  outline-width: 0px;
  outline-offset: 2px;
  animation: focus 1s linear 1;
}

.gel-masthead {
  color: #404040;
  font-size: 0.9rem;
}

.gel-masthead ul,
.gel-masthead li {
  margin: 0;
  padding: 0;
}

.gel-masthead__bar {
  border-bottom: 1px solid #ccc;
}

.gel-masthead__links {
  border-left: 0;
}

.gel-masthead__logo svg {
  height: 1em;
  width: 3.25rem;
}

.gel-masthead__popup {
  padding: 0.75rem;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.gel-masthead .gel-masthead__close-button {
  font-size: 1.25rem;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  height: auto;
}

.gel-masthead__more-menu {
  border-bottom: 1px solid #ccc;
  padding: 0;
}

.gel-masthead__more-menu ul {
  list-style: none;
}

.gel-masthead__more-menu li {
  padding: 0.75rem;
  display: inline-block;
}

.gel-masthead a,
.gel-masthead button {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
}

.gel-masthead__bar a {
  display: inline-block;
  padding: 0.75rem;
}

.gel-masthead__bar a:hover,
.gel-masthead__bar a:focus {
  outline: 2px solid transparent;
  /* for high contrast mode */
  outline-offset: -4px;
  box-shadow: inset 0 -4px 0 0 currentColor;
}

.gel-masthead [tabindex="-1"]:focus {
  outline: none;
}

.gel-masthead__banner {
  padding: 1.25rem 0.75rem;
  border-bottom: 1px solid #ccc;
}

.gel-masthead__banner a {
  display: inline-block;
  height: 2.5rem;
}

.gel-masthead__banner-logo svg {
  height: 100%;
  width: auto;
  fill: currentColor;
}

.gel-masthead__links,
.gel-masthead__more-option,
.gel-masthead__alerts-option,
.gel-masthead__account-option,
.gel-masthead__alerts {
  display: none;
}

.gel-masthead--with-js .gel-masthead-more-account-link,
.gel-masthead--with-js .gel-masthead-more-alerts-link {
  display: none;
}

.gel-masthead__bar a,
.gel-masthead__bar button {
  white-space: nowrap;
  border: 0;
  line-height: 1;
  padding: 0.75rem;
}

.gel-masthead__bar {
  display: flex;
  line-height: 1;
}

.gel-masthead__bar > * + * {
  border-left: 1px solid #ccc;
}

.gel-masthead__more-option {
  border-left: 0;
}

.gel-masthead__links {
  border-left: 0;
}

.gel-masthead__links ul {
  display: flex;
  list-style: none;
  white-space: nowrap;
  height: 100%;
}

.gel-masthead__links li {
  border-right: 1px solid #ccc;
}

.gel-masthead__links li:first-child {
  border-left: 1px solid #ccc;
}

.gel-masthead__bar a,
.gel-masthead__bar button {
  display: block;
}

.gel-masthead__search-option {
  margin-left: auto;
}

.gel-masthead__links {
  overflow-x: auto;
  overflow-y: hidden;
  /* explicitly needed for IE11 */
}

.gel-masthead__links-observed {
  overflow-x: hidden;
}

.gel-masthead__link-hidden {
  visibility: hidden;
}

.gel-masthead__links::-webkit-scrollbar {
  height: 0.125rem;
}

.gel-masthead__links::-webkit-scrollbar-track {
  background-color: #dcdcdc;
}

.gel-masthead__links::-webkit-scrollbar-thumb {
  background-color: #767676;
}

.gel-masthead__more-option {
  position: relative;
  margin-right: auto;
}

.gel-masthead__more-option-icon {
  display: none;
}

.gel-masthead__links:not(.gel-masthead__links-observed) + .gel-masthead__more-option {
  border-left: 1px solid #ccc;
}

.gel-masthead__links:not(.gel-masthead__links-observed) + .gel-masthead__more-option::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6px;
  width: 6px;
  background-color: rgba(0, 0, 0, 0.05);
}

.gel-masthead__more-menu-inner {
  display: flex;
  flex-wrap: wrap;
}

.gel-masthead__more-menu-label {
  flex-grow: 1;
  margin: 0;
  padding: 0.75rem;
}

.gel-masthead:not(.gel-masthead--with-js) .gel-masthead__more-menu-label {
  display: none;
}

.gel-masthead__more-menu ul {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.gel-masthead__more-menu li {
  flex: 0 1 10rem;
}

.gel-masthead--with-js .gel-masthead__links {
  display: flex;
}

.gel-masthead--with-js .gel-masthead__popup {
  display: none;
}

.gel-masthead__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gel-masthead__account-option {
  position: relative;
}

.gel-masthead__account-option::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
  position: absolute;
  right: calc(-0.25rem - 1px);
  top: calc(50% - 0.25rem);
}

.gel-masthead--with-js .gel-masthead__more-option,
.gel-masthead--with-js .gel-masthead__alerts-option,
.gel-masthead--with-js .gel-masthead__account-option {
  display: block;
}

@media (max-width: 500px) {
  .gel-masthead__more-option {
    border-left: 1px solid #ccc;
  }

  .gel-masthead__more-option-icon {
    display: block;
  }

  .gel-masthead__more-option-text,
.gel-masthead--with-js .gel-masthead__links,
.gel-masthead__account-text,
.gel-masthead__more-option::before {
    display: none;
  }
}
.gel-loader [hidden] {
  display: none !important;
}

.gel-loader__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gel-loader__item {
  border: 2px solid;
  padding: 1rem;
}

.gel-loader__loading {
  color: inherit;
  margin-bottom: 0.5rem;
}

.gel-loader__loading svg {
  font-size: 2rem;
}

.gel-loader__item + .gel-loader__item {
  margin-top: 1rem;
}

.gel-loader__items [role=separator] {
  font-weight: bold;
  margin: 1rem 0;
}

@keyframes focus {
  0% {
    outline: 2px dotted #404040;
  }
  100% {
    outline: 2px dotted transparent;
  }
}
.gel-loader__items [role=separator]:focus {
  outline-width: 0;
  outline-offset: 2px;
  animation: focus 1s linear 1;
}

.gel-loader__foot {
  margin: 1rem 0;
  text-align: center;
}

.gel-pages {
  text-align: center;
}

.gel-pages > *,
.gel-pages__numbered li {
  display: inline-block;
  vertical-align: middle;
}

.gel-pages__numbered {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gel-pages a,
.gel-pages__numbered [role=separator] {
  width: 4.5ch;
  height: 4.5ch;
  line-height: 4.5ch;
}

.gel-pages a {
  color: inherit;
  text-decoration: none;
  background-color: #ccc;
  display: inline-block;
}

.gel-pages a:hover,
.gel-pages a:focus,
.gel-pages__numbered [aria-current] {
  outline: none;
  color: #fff;
  background-color: #404040;
}

.gel-pages a:not([href]) {
  opacity: 0.5;
}

.gel-pages [hidden] {
  display: none;
}

.gel-pages__text {
  padding: 0 0.25rem;
}

@media (min-width: 650px) {
  .gel-pages__text {
    display: none;
  }

  .gel-pages__numbered {
    display: inline-block;
  }
}
.gel-accordion, .gel-accordion button {
  color: #404040;
}

.gel-accordion .gel-accordion__handle {
  margin: 0;
  padding: 0;
  border: 0;
}

.gel-accordion__handle button {
  border: 0;
  background-color: #dcdcdc;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  display: block;
  width: 100%;
  text-align: left;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gel-accordion__handle button:hover,
.gel-accordion__handle button:focus {
  outline: 2px solid transparent;
  /* fallback for high contrast mode */
  outline-offset: 2px;
  background-color: #007bb8;
  color: #fff;
}

.gel-accordion__handle svg {
  margin-left: 0.5rem;
  flex-shrink: 0;
}

.gel-accordion__handle [aria-expanded=true] svg {
  transform: rotate(180deg);
}

.gel-accordion__handle, .gel-accordion__drawer {
  margin: 0;
  padding: 0;
}

.gel-accordion > * {
  border-top: 1px solid #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
}

.gel-accordion > * + * {
  border-top: 0;
}

.gel-accordion__handle button, .gel-accordion__drawer {
  padding: 0.75rem;
}

.gel-accordion__drawer {
  background-color: #eeeeee;
}

/* 
Optional, example implementation
of 'open all' and 'close all' tools
*/
.gel-accordion__controls {
  text-align: right;
  margin: 0.5rem 0;
}

.gel-accordion__controls button {
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
}

.gel-accordion__controls button + button {
  margin-left: 0.5rem;
}

.gel-infopanel {
  display: none;
}

.gel-infopanel--with-js {
  display: inline-block;
}

.gel-infopanel--showing {
  position: relative;
}

.gel-infopanel__panel {
  text-align: left;
  background-color: #dcdcdc;
  border: 2px solid transparent;
  /* for high contrast mode */
  position: absolute;
  max-width: 80vw;
}

.gel-infopanel__title-area {
  line-height: 1;
  padding: 0.75rem;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gel-infopanel__close-button {
  color: #404040;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.gel-infopanel__close-button:focus {
  outline: 1px solid;
  outline-offset: 2px;
}

.gel-infopanel--below {
  top: calc(100% + 1rem);
}

.gel-infopanel--above {
  bottom: calc(100% + 1rem);
}

.gel-infopanel--right {
  right: 0;
}

.gel-infopanel--center {
  transform: translateX(-50%);
  left: 50%;
}

@supports (clip-path: inset(100%)) {
  .gel-infopanel__panel::after {
    content: "";
    display: inline-block;
    background-color: inherit;
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
  }

  .gel-infopanel--below::after {
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    top: calc(-0.75rem + 1px);
  }

  .gel-infopanel--above::after {
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    bottom: calc(-0.75rem + 1px);
  }

  .gel-infopanel--left::after {
    left: 1.5rem;
  }

  .gel-infopanel--right::after {
    right: 1.5rem;
  }

  .gel-infopanel--center::after {
    left: calc(50% - 0.375rem);
  }
}
/* share tools styles */
.gel-infopanel .gel-sharetools__complete > * {
  padding: 0 0.75rem 0.75rem;
}

.gel-infopanel .gel-sharetools__complete a {
  padding: 0.5rem;
}

.gel-sharetools__options {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -0.125rem;
}

.gel-sharetools__options > li {
  margin: 0.125rem;
}

.gel-sharetools__link-input {
  border: 0;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
}

.gel-sitemenu {
  margin: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.gel-sitemenu a,
.gel-sitemenu button {
  padding: 0.75rem;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.gel-sitemenu button {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.gel-sitemenu ul {
  padding: 0;
}

.gel-sitemenu__list {
  font-size: 0;
}

.gel-sitemenu li {
  display: inline;
}

.gel-sitemenu__list > li * {
  font-size: 1.125rem;
}

.gel-sitemenu__list a:hover,
.gel-sitemenu__list button:hover,
.gel-sitemenu__list a:focus,
.gel-sitemenu__list button:focus,
.gel-sitemenu__list [aria-current] {
  outline: none;
  box-shadow: inset 0 -4px 0 0 currentColor;
}

@media (-ms-high-contrast: active) {
  .gel-sitemenu__list a:hover,
.gel-sitemenu__list button:hover,
.gel-sitemenu__list a:focus,
.gel-sitemenu__list button:focus,
.gel-sitemenu__list [aria-current] {
    text-decoration: underline;
  }
}
.gel-sitemenu__list > li > * {
  border-left: 1px solid #ccc;
}

.gel-sitemenu__list > li:last-child > * {
  border-right: 1px solid #ccc;
}

.gel-sitemenu__more {
  float: left;
  width: calc(100vw + 1px);
  padding: 0;
  position: relative;
  border-top: 1px solid transparent;
  /* for high contrast mode */
  border-bottom: 1px solid transparent;
  /* for high contrast mode */
  left: calc((100vw - 100%) / 2 * -1 - 1px);
  background-color: #404040;
  color: #fff;
}

.gel-sitemenu__more-inner,
.gel-sitemenu__list {
  margin-left: auto;
  margin-right: auto;
  max-width: 1008px;
}

.gel-sitemenu__more-button {
  text-align: left;
}

.gel-sitemenu__more-button svg {
  width: 0.75rem;
  vertical-align: -0.25rem;
  margin-left: 0.5rem;
}

.gel-sitemenu__more-button[aria-expanded=true] svg {
  transform: rotate(180deg);
}

.gel-sitemenu__more-button[aria-expanded=true] {
  background-color: #404040;
  color: #fff;
}

.gel-sitemenu .gel-sitemenu__menu-button {
  display: none;
  width: 100%;
  text-align: center;
  padding: 0.75rem;
}

.gel-sitemenu__menu-button:hover,
.gel-sitemenu__menu-button:focus {
  outline: none;
  background-color: #404040;
  color: #fff;
}

.gel-sitemenu__menu-button[aria-expanded=true] {
  border-bottom: 1px solid #ccc;
}

@media (max-width: 600px) {
  .gel-sitemenu li {
    display: block;
  }

  .gel-sitemenu__list a,
.gel-sitemenu__list button {
    width: 100%;
    border: 0;
  }

  .gel-sitemenu__list > li > * {
    border: 0;
  }

  .gel-sitemenu__list > li:last-child > * {
    border-right: 0;
  }

  .gel-sitemenu__list > li + li > * {
    border-top: 1px solid #ccc;
  }

  .gel-sitemenu__more {
    width: 100%;
    position: static;
  }

  .gel-sitemenu--with-js .gel-sitemenu__menu-button {
    display: block;
  }

  .gel-sitemenu--with-js .gel-sitemenu__list {
    display: none;
  }

  .gel-sitemenu--with-js .gel-sitemenu__list.gel-sitemenu--open {
    display: block;
  }
}
.gel-search__controls {
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  background-color: #ccc;
}

.gel-search__controls > * {
  font-size: inherit;
  flex: 0 1 auto;
}

.gel-search__controls-brand {
  height: 3rem;
  width: auto;
  align-self: center;
}

.gel-search__controls > input,
.gel-search__controls > button {
  padding: 0.5rem;
}

.gel-search__controls > input:focus,
.gel-search__controls > button:focus {
  outline: 2px solid;
  outline-offset: -2px;
}

.gel-search__controls input {
  flex-grow: 1;
  min-width: 0;
  border: 0;
}

.gel-search__controls button {
  border: 0;
  background: transparent;
  color: inherit;
}

.gel-search__controls [type=submit] {
  background: #fff;
}

.gel-search__controls > * + input,
.gel-search__controls > .gel-search__close {
  margin-left: 1rem;
}

.gel-search__suggestions {
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.gel-filter__bar {
  display: flex;
  border-bottom: 2px solid #ccc;
}

.gel-filter__bar > * {
  flex: 0 0 auto;
}

.gel-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1 1 auto;
  display: flex;
  overflow-x: auto;
}

.gel-filter__list-observed {
  overflow: hidden;
}

.gel-filter__list .gel-filter__item-more {
  visibility: hidden;
}

.gel-filter__list::-webkit-scrollbar {
  height: 0.125rem;
}

.gel-filter__list::-webkit-scrollbar-track {
  background-color: #ccc;
}

.gel-filter__list::-webkit-scrollbar-thumb {
  background-color: #404040;
}

.gel-filter__bar a,
.gel-filter__bar button,
.gel-filter__label {
  display: block;
  text-decoration: none;
  border: 0;
  background: none;
  padding: 0.75rem;
  white-space: nowrap;
}

.gel-filter__more[hidden] {
  display: none;
}

.gel-filter__more[aria-expanded=true] {
  background-color: #ccc;
}

.gel-filter__more[aria-expanded=true] svg {
  transform: rotate(180deg);
}

.gel-filter__list a:hover,
.gel-filter__list a:focus,
.gel-filter__list [aria-current] {
  font-weight: bold;
  color: #007bb8;
  background-image: linear-gradient(360deg, #007bb8, #007bb8 0.25rem, transparent 0.25rem);
}

.gel-filter__label,
.gel-filter__sort-label {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.gel-filter__popup {
  background-color: #ccc;
}

.gel-filter__popup ul,
.gel-filter__sort ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.gel-filter__popup li {
  padding: 0.75rem;
  flex: 0 1 auto;
}

.gel-filter__sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.gel-filter__sort-label {
  margin-right: 0.5rem;
}

.gel-filter__sort ul {
  display: flex;
  list-style: none;
}

.gel-filter__sort a {
  display: block;
  padding: 0.5rem;
}

.gel-filter__sort [aria-current] {
  text-decoration: none;
  background-color: #007bb8;
  color: #fff;
}

.gel-comments__field {
  position: relative;
}

.gel-comments__form textarea {
  width: 100%;
  padding: 0.5rem 0.5rem 1.5rem;
}

.gel-comments__form [type=submit][hidden] {
  display: none;
}

.gel-comments__chars {
  display: none;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 0.8rem;
}

.gel-comments__form textarea:focus + .gel-comments__chars {
  display: block;
}

.gel-comments__meta {
  display: flex;
  justify-content: space-between;
}

.gel-comments__sort {
  position: relative;
}

.gel-comments__sort select {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background: none;
  font-size: inherit;
  font-family: inherit;
  padding-right: 1em;
}

.gel-comments__sort svg {
  width: 0.75em;
  position: absolute;
  right: 0;
  top: 0.333em;
  pointer-events: none;
}

.gel-comment__vote {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gel-comment__vote * + button {
  margin-left: 0.75rem;
}

.gel-comment__vote button + span {
  margin-left: 0.25rem;
}

.gel-comment__vote button {
  border: 0;
  padding: 0;
  background: none;
}

.gel-comment__vote button[aria-pressed=true] path {
  fill: #007bb8;
}

.gel-comment__vote svg,
.gel-comment__vote span {
  pointer-events: none;
}

.gel-comments__stream,
.gel-comment__replies {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gel-comment__replies {
  margin-top: 1rem;
}

.gel-comment__title a {
  text-decoration: none;
}

.gel-comment__title strong {
  text-decoration: underline;
}

.gel-comment__title time {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
}

.gel-comment__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gel-comment__reply-button {
  font-weight: bold;
  border: 0;
  padding: 0;
  background: none;
}

.gel-comment__replies {
  border-top: 1px solid #ccc;
}

.gel-comment__reply {
  padding-left: 1rem;
  border-left: 2px solid #007bb8;
}

.gel-comment__reply + .gel-comment__reply {
  margin-top: 1rem;
}

.gel-comments a:focus,
.gel-comments button:focus,
.gel-comments select:focus,
.gel-comments textarea:focus {
  outline: 2px solid;
  outline-offset: 2px;
}

.gel-comments textarea:focus {
  outline-offset: 0;
}

.gel-comment__title a:focus strong {
  outline: 2px solid #ccc;
  outline-offset: 2px;
}

/*# sourceMappingURL=gel.css.map */
