/**
 * Settings
 */
/**
 * Dependencies.
 */
/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
@import url(bbc-grandstand/dist/bbc-grandstand.min.css);
@import url(reith.css);
.gel-sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

/**
 * Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link https://www.drupal.org/node/897638
 */
.gel-sr__focusable:active,
.gel-sr__focusable:focus,
.gel-sr__focused {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  white-space: normal;
  width: auto; }

.gel-sr__overlay {
  position: absolute;
  top: 18px;
  left: 18px;
  width: auto;
  height: auto;
  color: #333;
  background: #eee;
  padding: 18px;
  border: 3px solid #333; }

/**
 * Foundations
 */
.gel-canon {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  line-height: 2rem; }
  @media (min-width: 20em) {
    .gel-canon {
      font-size: 32px;
      font-size: 2rem;
      line-height: 36px;
      line-height: 2.25rem; } }
  @media (min-width: 37.5em) {
    .gel-canon {
      font-size: 52px;
      font-size: 3.25rem;
      line-height: 56px;
      line-height: 3.5rem; }
      .no-touch .gel-canon {
        font-size: 44px;
        font-size: 2.75rem;
        line-height: 48px;
        line-height: 3rem; } }

.gel-canon-bold {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem; }
  @media (min-width: 20em) {
    .gel-canon-bold {
      font-size: 32px;
      font-size: 2rem;
      line-height: 36px;
      line-height: 2.25rem; } }
  @media (min-width: 37.5em) {
    .gel-canon-bold {
      font-size: 52px;
      font-size: 3.25rem;
      line-height: 56px;
      line-height: 3.5rem; }
      .no-touch .gel-canon-bold {
        font-size: 44px;
        font-size: 2.75rem;
        line-height: 48px;
        line-height: 3rem; } }

.gel-trafalgar,
h1 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media (min-width: 20em) {
    .gel-trafalgar,
    h1 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 28px;
      line-height: 1.75rem; } }
  @media (min-width: 37.5em) {
    .gel-trafalgar,
    h1 {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 40px;
      line-height: 2.5rem; }
      .no-touch .gel-trafalgar, .no-touch h1 {
        font-size: 32px;
        font-size: 2rem;
        line-height: 36px;
        line-height: 2.25rem; } }

.gel-trafalgar-bold {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem; }
  @media (min-width: 20em) {
    .gel-trafalgar-bold {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 28px;
      line-height: 1.75rem; } }
  @media (min-width: 37.5em) {
    .gel-trafalgar-bold {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 40px;
      line-height: 2.5rem; }
      .no-touch .gel-trafalgar-bold {
        font-size: 32px;
        font-size: 2rem;
        line-height: 36px;
        line-height: 2.25rem; } }

.gel-paragon {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media (min-width: 20em) {
    .gel-paragon {
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 26px;
      line-height: 1.625rem; } }
  @media (min-width: 37.5em) {
    .gel-paragon {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 34px;
      line-height: 2.125rem; }
      .no-touch .gel-paragon {
        font-size: 28px;
        font-size: 1.75rem;
        line-height: 32px;
        line-height: 2rem; } }

.gel-paragon-bold {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem; }
  @media (min-width: 20em) {
    .gel-paragon-bold {
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 26px;
      line-height: 1.625rem; } }
  @media (min-width: 37.5em) {
    .gel-paragon-bold {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 34px;
      line-height: 2.125rem; }
      .no-touch .gel-paragon-bold {
        font-size: 28px;
        font-size: 1.75rem;
        line-height: 32px;
        line-height: 2rem; } }

.gel-double-pica,
h2 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media (min-width: 37.5em) {
    .gel-double-pica,
    h2 {
      font-size: 26px;
      font-size: 1.625rem;
      line-height: 30px;
      line-height: 1.875rem; }
      .no-touch .gel-double-pica, .no-touch h2 {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; } }

.gel-double-pica-bold {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem; }
  @media (min-width: 37.5em) {
    .gel-double-pica-bold {
      font-size: 26px;
      font-size: 1.625rem;
      line-height: 30px;
      line-height: 1.875rem; }
      .no-touch .gel-double-pica-bold {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; } }

.gel-great-primer,
h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem; }
  @media (min-width: 37.5em) {
    .gel-great-primer,
    h3 {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch .gel-great-primer, .no-touch h3 {
        font-size: 20px;
        font-size: 1.25rem; } }

.gel-great-primer-bold {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: bold; }
  @media (min-width: 20em) {
    .gel-great-primer-bold {
      letter-spacing: -1px;
      letter-spacing: -0.0625rem; } }
  @media (min-width: 37.5em) {
    .gel-great-primer-bold {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch .gel-great-primer-bold {
        font-size: 20px;
        font-size: 1.25rem; } }

.gel-pica,
h4 {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media (min-width: 20em) {
    .gel-pica,
    h4 {
      font-size: 16px;
      font-size: 1rem;
      line-height: 20px;
      line-height: 1.25rem; } }
  @media (min-width: 37.5em) {
    .gel-pica,
    h4 {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 22px;
      line-height: 1.375rem; }
      .no-touch .gel-pica, .no-touch h4 {
        font-size: 16px;
        font-size: 1rem;
        line-height: 20px;
        line-height: 1.25rem; } }

.gel-pica-bold {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem;
  font-weight: bold; }
  @media (min-width: 20em) {
    .gel-pica-bold {
      font-size: 16px;
      font-size: 1rem;
      line-height: 20px;
      line-height: 1.25rem; } }
  @media (min-width: 37.5em) {
    .gel-pica-bold {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 22px;
      line-height: 1.375rem; }
      .no-touch .gel-pica-bold {
        font-size: 16px;
        font-size: 1rem;
        line-height: 20px;
        line-height: 1.25rem; } }

.gel-long-primer {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem; }
  @media (min-width: 37.5em) {
    .gel-long-primer {
      line-height: 20px;
      line-height: 1.25rem; }
      .no-touch .gel-long-primer {
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 18px;
        line-height: 1.125rem; } }

.gel-long-primer-bold {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: bold; }
  @media (min-width: 37.5em) {
    .gel-long-primer-bold {
      line-height: 20px;
      line-height: 1.25rem; }
      .no-touch .gel-long-primer-bold {
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 18px;
        line-height: 1.125rem; } }

.gel-brevier {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem; }
  @media (min-width: 20em) {
    .gel-brevier {
      line-height: 18px;
      line-height: 1.125rem; } }
  @media (min-width: 37.5em) {
    .no-touch .gel-brevier {
      font-size: 13px;
      font-size: 0.8125rem;
      line-height: 16px;
      line-height: 1rem; } }

.gel-brevier-bold {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: bold; }
  @media (min-width: 20em) {
    .gel-brevier-bold {
      line-height: 18px;
      line-height: 1.125rem; } }
  @media (min-width: 37.5em) {
    .no-touch .gel-brevier-bold {
      font-size: 13px;
      font-size: 0.8125rem;
      line-height: 16px;
      line-height: 1rem; } }

.gel-minion {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-transform: uppercase; }
  @media (min-width: 37.5em) {
    .gel-minion {
      font-size: 13px;
      font-size: 0.8125rem; }
      .no-touch .gel-minion {
        font-size: 12px;
        font-size: 0.75rem; } }

.gel-minion-bold {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: bold; }
  @media (min-width: 37.5em) {
    .gel-minion-bold {
      font-size: 13px;
      font-size: 0.8125rem; }
      .no-touch .gel-minion-bold {
        font-size: 12px;
        font-size: 0.75rem; } }

.gel-body-copy {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media (min-width: 20em) {
    .gel-body-copy {
      font-size: 16px;
      font-size: 1rem;
      line-height: 22px;
      line-height: 1.375rem; } }
  @media (min-width: 37.5em) {
    .gel-body-copy {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch .gel-body-copy {
        font-size: 16px;
        font-size: 1rem;
        line-height: 22px;
        line-height: 1.375rem; } }

/* autoprefixer: off */
/**
     * Grid containing element
     */
.gel-wrap {
  max-width: 1008px;
  margin: 0 auto;
  padding-right: 8px;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 25em) {
    .gel-wrap {
      padding-left: 16px;
      padding-right: 16px; } }
  @media (min-width: 80em) {
    .gel-wrap {
      max-width: 1280px; } }

/**
     * A grid row
     */
.gel-layout {
  list-style: none;
  direction: ltr;
  text-align: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  margin-right: 0;
  margin-left: -8px;
  padding-right: 0;
  padding-left: 0; }
  @media (min-width: 37.5em) {
    .gel-layout {
      margin-left: -16px; } }

/**
     * A single grid item
     */
.gel-layout__item {
  width: 100%;
  display: inline-block;
  padding-left: 8px;
  text-align: left;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 37.5em) {
    .gel-layout__item {
      padding-left: 16px; } }

/**
     * Layouts with no gutters.
     */
.gel-layout--flush {
  margin-left: 0; }
  .gel-layout--flush > .gel-layout__item {
    padding-left: 0; }

/**
     * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your
     * markup will display in order 4, 3, 2, 1 on your page
     */
.gel-layout--rev {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .no-flexbox .gel-layout--rev {
    direction: rtl;
    text-align: left; }
    .no-flexbox .gel-layout--rev > .gel-layout__item {
      direction: ltr;
      text-align: left; }

/**
     * Align layout items to the vertical centers of each other
     */
.gel-layout--middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }
  .gel-layout--middle > .gel-layout__item {
    vertical-align: middle; }

/**
     * Align layout items to the vertical bottoms of each other
     */
.gel-layout--bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end; }
  .gel-layout--bottom > .gel-layout__item {
    vertical-align: bottom; }

/**
     * Make the layout items fill up from the right hand side
     */
.gel-layout--right {
  text-align: right;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .gel-layout--right > .gel-layout__item {
    text-align: left; }

/**
     * Make the layout items fill up from the center outward
     */
.gel-layout--center {
  text-align: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .gel-layout--center > .gel-layout__item {
    text-align: left; }

/**
     * Cause layout items to take up a non-explicit amount of width
     */
.gel-layout--auto > .gel-layout__item {
  width: auto; }

/**
     * Disable the flexbox grid
     *
     * 1. Prevents floated layout items from shrinking the layout
     */
.gel-layout--no-flex {
  min-width: 100%; }
  .gel-layout--no-flex,
  .gel-layout--no-flex > .gel-layout__item {
    display: block;
    display: inline-block; }

/**
         * Force items to be of equal height
         */
.gel-layout--equal > .gel-layout__item {
  display: -webkit-flex;
  display: flex; }

/**
         * Allow items to devide the space equally between the number of items
         */
.gel-layout--fit > .gel-layout__item {
  width: auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

/**
         * Align a single grid item to the top
         */
.gel-layout__item--top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

/**
         * Align a single grid item to the center
         */
.gel-layout__item--center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

/**
         * Align a single grid item to the bottom
         */
.gel-layout__item--bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.gel-1\/1 {
  width: 100% !important; }

.gel-1\/2 {
  width: 50% !important; }

.gel-1\/3 {
  width: 33.33333% !important; }

.gel-2\/3 {
  width: 66.66667% !important; }

.gel-1\/4 {
  width: 25% !important; }

.gel-3\/4 {
  width: 75% !important; }

.gel-1\/5 {
  width: 20% !important; }

.gel-2\/5 {
  width: 40% !important; }

.gel-3\/5 {
  width: 60% !important; }

.gel-4\/5 {
  width: 80% !important; }

.gel-1\/8 {
  width: 12.5% !important; }

.gel-3\/8 {
  width: 37.5% !important; }

.gel-5\/8 {
  width: 62.5% !important; }

.gel-7\/8 {
  width: 87.5% !important; }

.gel-1\/10 {
  width: 10% !important; }

.gel-3\/10 {
  width: 30% !important; }

.gel-7\/10 {
  width: 70% !important; }

.gel-9\/10 {
  width: 90% !important; }

.gel-1\/12 {
  width: 8.33333% !important; }

.gel-2\/12 {
  width: 16.66667% !important; }

.gel-5\/12 {
  width: 41.66667% !important; }

.gel-7\/12 {
  width: 58.33333% !important; }

.gel-10\/12 {
  width: 83.33333% !important; }

.gel-11\/12 {
  width: 91.66667% !important; }

.gel-1\/24 {
  width: 4.16667% !important; }

.gel-5\/24 {
  width: 20.83333% !important; }

.gel-7\/24 {
  width: 29.16667% !important; }

.gel-11\/24 {
  width: 45.83333% !important; }

.gel-13\/24 {
  width: 54.16667% !important; }

.gel-17\/24 {
  width: 70.83333% !important; }

.gel-19\/24 {
  width: 79.16667% !important; }

.gel-23\/24 {
  width: 95.83333% !important; }

@media (min-width: 25em) {
  .gel-1\/1\@s {
    width: 100% !important; }
  .gel-1\/2\@s {
    width: 50% !important; }
  .gel-1\/3\@s {
    width: 33.33333% !important; }
  .gel-2\/3\@s {
    width: 66.66667% !important; }
  .gel-1\/4\@s {
    width: 25% !important; }
  .gel-3\/4\@s {
    width: 75% !important; }
  .gel-1\/5\@s {
    width: 20% !important; }
  .gel-2\/5\@s {
    width: 40% !important; }
  .gel-3\/5\@s {
    width: 60% !important; }
  .gel-4\/5\@s {
    width: 80% !important; }
  .gel-1\/8\@s {
    width: 12.5% !important; }
  .gel-3\/8\@s {
    width: 37.5% !important; }
  .gel-5\/8\@s {
    width: 62.5% !important; }
  .gel-7\/8\@s {
    width: 87.5% !important; }
  .gel-1\/10\@s {
    width: 10% !important; }
  .gel-3\/10\@s {
    width: 30% !important; }
  .gel-7\/10\@s {
    width: 70% !important; }
  .gel-9\/10\@s {
    width: 90% !important; }
  .gel-1\/12\@s {
    width: 8.33333% !important; }
  .gel-2\/12\@s {
    width: 16.66667% !important; }
  .gel-5\/12\@s {
    width: 41.66667% !important; }
  .gel-7\/12\@s {
    width: 58.33333% !important; }
  .gel-10\/12\@s {
    width: 83.33333% !important; }
  .gel-11\/12\@s {
    width: 91.66667% !important; }
  .gel-1\/24\@s {
    width: 4.16667% !important; }
  .gel-5\/24\@s {
    width: 20.83333% !important; }
  .gel-7\/24\@s {
    width: 29.16667% !important; }
  .gel-11\/24\@s {
    width: 45.83333% !important; }
  .gel-13\/24\@s {
    width: 54.16667% !important; }
  .gel-17\/24\@s {
    width: 70.83333% !important; }
  .gel-19\/24\@s {
    width: 79.16667% !important; }
  .gel-23\/24\@s {
    width: 95.83333% !important; } }

@media (min-width: 37.5em) {
  .gel-1\/1\@m {
    width: 100% !important; }
  .gel-1\/2\@m {
    width: 50% !important; }
  .gel-1\/3\@m {
    width: 33.33333% !important; }
  .gel-2\/3\@m {
    width: 66.66667% !important; }
  .gel-1\/4\@m {
    width: 25% !important; }
  .gel-3\/4\@m {
    width: 75% !important; }
  .gel-1\/5\@m {
    width: 20% !important; }
  .gel-2\/5\@m {
    width: 40% !important; }
  .gel-3\/5\@m {
    width: 60% !important; }
  .gel-4\/5\@m {
    width: 80% !important; }
  .gel-1\/8\@m {
    width: 12.5% !important; }
  .gel-3\/8\@m {
    width: 37.5% !important; }
  .gel-5\/8\@m {
    width: 62.5% !important; }
  .gel-7\/8\@m {
    width: 87.5% !important; }
  .gel-1\/10\@m {
    width: 10% !important; }
  .gel-3\/10\@m {
    width: 30% !important; }
  .gel-7\/10\@m {
    width: 70% !important; }
  .gel-9\/10\@m {
    width: 90% !important; }
  .gel-1\/12\@m {
    width: 8.33333% !important; }
  .gel-2\/12\@m {
    width: 16.66667% !important; }
  .gel-5\/12\@m {
    width: 41.66667% !important; }
  .gel-7\/12\@m {
    width: 58.33333% !important; }
  .gel-10\/12\@m {
    width: 83.33333% !important; }
  .gel-11\/12\@m {
    width: 91.66667% !important; }
  .gel-1\/24\@m {
    width: 4.16667% !important; }
  .gel-5\/24\@m {
    width: 20.83333% !important; }
  .gel-7\/24\@m {
    width: 29.16667% !important; }
  .gel-11\/24\@m {
    width: 45.83333% !important; }
  .gel-13\/24\@m {
    width: 54.16667% !important; }
  .gel-17\/24\@m {
    width: 70.83333% !important; }
  .gel-19\/24\@m {
    width: 79.16667% !important; }
  .gel-23\/24\@m {
    width: 95.83333% !important; } }

@media (min-width: 56.25em) {
  .gel-1\/1\@l {
    width: 100% !important; }
  .gel-1\/2\@l {
    width: 50% !important; }
  .gel-1\/3\@l {
    width: 33.33333% !important; }
  .gel-2\/3\@l {
    width: 66.66667% !important; }
  .gel-1\/4\@l {
    width: 25% !important; }
  .gel-3\/4\@l {
    width: 75% !important; }
  .gel-1\/5\@l {
    width: 20% !important; }
  .gel-2\/5\@l {
    width: 40% !important; }
  .gel-3\/5\@l {
    width: 60% !important; }
  .gel-4\/5\@l {
    width: 80% !important; }
  .gel-1\/8\@l {
    width: 12.5% !important; }
  .gel-3\/8\@l {
    width: 37.5% !important; }
  .gel-5\/8\@l {
    width: 62.5% !important; }
  .gel-7\/8\@l {
    width: 87.5% !important; }
  .gel-1\/10\@l {
    width: 10% !important; }
  .gel-3\/10\@l {
    width: 30% !important; }
  .gel-7\/10\@l {
    width: 70% !important; }
  .gel-9\/10\@l {
    width: 90% !important; }
  .gel-1\/12\@l {
    width: 8.33333% !important; }
  .gel-2\/12\@l {
    width: 16.66667% !important; }
  .gel-5\/12\@l {
    width: 41.66667% !important; }
  .gel-7\/12\@l {
    width: 58.33333% !important; }
  .gel-10\/12\@l {
    width: 83.33333% !important; }
  .gel-11\/12\@l {
    width: 91.66667% !important; }
  .gel-1\/24\@l {
    width: 4.16667% !important; }
  .gel-5\/24\@l {
    width: 20.83333% !important; }
  .gel-7\/24\@l {
    width: 29.16667% !important; }
  .gel-11\/24\@l {
    width: 45.83333% !important; }
  .gel-13\/24\@l {
    width: 54.16667% !important; }
  .gel-17\/24\@l {
    width: 70.83333% !important; }
  .gel-19\/24\@l {
    width: 79.16667% !important; }
  .gel-23\/24\@l {
    width: 95.83333% !important; } }

@media (min-width: 63em) {
  .gel-1\/1\@xl {
    width: 100% !important; }
  .gel-1\/2\@xl {
    width: 50% !important; }
  .gel-1\/3\@xl {
    width: 33.33333% !important; }
  .gel-2\/3\@xl {
    width: 66.66667% !important; }
  .gel-1\/4\@xl {
    width: 25% !important; }
  .gel-3\/4\@xl {
    width: 75% !important; }
  .gel-1\/5\@xl {
    width: 20% !important; }
  .gel-2\/5\@xl {
    width: 40% !important; }
  .gel-3\/5\@xl {
    width: 60% !important; }
  .gel-4\/5\@xl {
    width: 80% !important; }
  .gel-1\/8\@xl {
    width: 12.5% !important; }
  .gel-3\/8\@xl {
    width: 37.5% !important; }
  .gel-5\/8\@xl {
    width: 62.5% !important; }
  .gel-7\/8\@xl {
    width: 87.5% !important; }
  .gel-1\/10\@xl {
    width: 10% !important; }
  .gel-3\/10\@xl {
    width: 30% !important; }
  .gel-7\/10\@xl {
    width: 70% !important; }
  .gel-9\/10\@xl {
    width: 90% !important; }
  .gel-1\/12\@xl {
    width: 8.33333% !important; }
  .gel-2\/12\@xl {
    width: 16.66667% !important; }
  .gel-5\/12\@xl {
    width: 41.66667% !important; }
  .gel-7\/12\@xl {
    width: 58.33333% !important; }
  .gel-10\/12\@xl {
    width: 83.33333% !important; }
  .gel-11\/12\@xl {
    width: 91.66667% !important; }
  .gel-1\/24\@xl {
    width: 4.16667% !important; }
  .gel-5\/24\@xl {
    width: 20.83333% !important; }
  .gel-7\/24\@xl {
    width: 29.16667% !important; }
  .gel-11\/24\@xl {
    width: 45.83333% !important; }
  .gel-13\/24\@xl {
    width: 54.16667% !important; }
  .gel-17\/24\@xl {
    width: 70.83333% !important; }
  .gel-19\/24\@xl {
    width: 79.16667% !important; }
  .gel-23\/24\@xl {
    width: 95.83333% !important; } }

@media (min-width: 80em) {
  .gel-1\/1\@xxl {
    width: 100% !important; }
  .gel-1\/2\@xxl {
    width: 50% !important; }
  .gel-1\/3\@xxl {
    width: 33.33333% !important; }
  .gel-2\/3\@xxl {
    width: 66.66667% !important; }
  .gel-1\/4\@xxl {
    width: 25% !important; }
  .gel-3\/4\@xxl {
    width: 75% !important; }
  .gel-1\/5\@xxl {
    width: 20% !important; }
  .gel-2\/5\@xxl {
    width: 40% !important; }
  .gel-3\/5\@xxl {
    width: 60% !important; }
  .gel-4\/5\@xxl {
    width: 80% !important; }
  .gel-1\/8\@xxl {
    width: 12.5% !important; }
  .gel-3\/8\@xxl {
    width: 37.5% !important; }
  .gel-5\/8\@xxl {
    width: 62.5% !important; }
  .gel-7\/8\@xxl {
    width: 87.5% !important; }
  .gel-1\/10\@xxl {
    width: 10% !important; }
  .gel-3\/10\@xxl {
    width: 30% !important; }
  .gel-7\/10\@xxl {
    width: 70% !important; }
  .gel-9\/10\@xxl {
    width: 90% !important; }
  .gel-1\/12\@xxl {
    width: 8.33333% !important; }
  .gel-2\/12\@xxl {
    width: 16.66667% !important; }
  .gel-5\/12\@xxl {
    width: 41.66667% !important; }
  .gel-7\/12\@xxl {
    width: 58.33333% !important; }
  .gel-10\/12\@xxl {
    width: 83.33333% !important; }
  .gel-11\/12\@xxl {
    width: 91.66667% !important; }
  .gel-1\/24\@xxl {
    width: 4.16667% !important; }
  .gel-5\/24\@xxl {
    width: 20.83333% !important; }
  .gel-7\/24\@xxl {
    width: 29.16667% !important; }
  .gel-11\/24\@xxl {
    width: 45.83333% !important; }
  .gel-13\/24\@xxl {
    width: 54.16667% !important; }
  .gel-17\/24\@xxl {
    width: 70.83333% !important; }
  .gel-19\/24\@xxl {
    width: 79.16667% !important; }
  .gel-23\/24\@xxl {
    width: 95.83333% !important; } }

/**
 * Generic
 */
html {
  box-sizing: border-box; }

/**
 * because we are overriding the box-sizing above, we have to set it back to the default for orbit
 * to display properly.
 */
#orb-banner, #orb-footer {
  box-sizing: content-box; }

body {
  color: #404040;
  font-family: Helvetica, Arial, sans-serif; }
  body.is-masked {
    overflow-y: scroll;
    position: fixed;
    width: 100%; }

h1.gel-page-title {
  margin-bottom: 24px; }

a {
  color: #404040;
  transition: color 300ms; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.u-flex-grow {
  flex: 1; }

.u-margin-right {
  margin-right: 12px; }

.u-margin-bottom {
  margin-bottom: 12px; }

.gel-u-mb\+ {
  margin-bottom: 24px; }

.gel-u-mb\+\+ {
  margin-bottom: 36px; }

.gel-u-mb\+\+\+ {
  margin-bottom: 48px; }

.gel-u-ph\+\+ {
  padding-left: 32px;
  padding-right: 32px; }

.u-full-width {
  display: block;
  width: 100%; }

.u-clickable {
  cursor: pointer; }

@media (min-width: 56.25em) {
  .gel-pull__right\@l {
    text-align: right !important; } }

div#gel-app {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media (min-width: 20em) {
    div#gel-app {
      font-size: 16px;
      font-size: 1rem;
      line-height: 22px;
      line-height: 1.375rem; } }
  @media (min-width: 37.5em) {
    div#gel-app {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch div#gel-app {
        font-size: 16px;
        font-size: 1rem;
        line-height: 22px;
        line-height: 1.375rem; } }

body {
  font-size: 62.5%;
  font-family: Arial,Helvetica,freesans,sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.gel-guideline-sections a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #ccc; }

.gel-guideline-sections a:hover {
  color: #e6711b;
  border-bottom: 1px solid #e6711b;
  transition: 300ms; }

.gel-guideline-sections h1 a, .gel-guideline-sections h2 a, .gel-guideline-sections h3 a, .gel-guideline-sections h4 a, .gel-guideline-sections h5 a, .gel-guideline-sections h6 a, .gel-guideline-sections li a {
  border-bottom: 1px solid transparent; }

.gel-guideline-sections h1 a:hover, .gel-guideline-sections h2 a:hover, .gel-guideline-sections h3 a:hover, .gel-guideline-sections h4 a:hover, .gel-guideline-sections h5 a:hover, .gel-guideline-sections h6 a:hover, .gel-guideline-sections li a:hover {
  border-bottom: 1px solid #e6711b; }

.gel-guideline-sections h2 {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  margin-top: 64px !important; }

.gel-link--last-word {
  white-space: nowrap; }

.gel-icon--inline-text {
  height: 0.75em;
  width: 0.75em;
  left: 0;
  top: 0.3em;
  margin-left: 0.2em;
  padding-top: 0.055em; }

.orb-nav-pri a:hover {
  color: inherit; }

/* Type Styles for the GEL Guideline body */
.gel-guideline-body, .gel-article-body {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media (min-width: 20em) {
    .gel-guideline-body, .gel-article-body {
      font-size: 16px;
      font-size: 1rem;
      line-height: 22px;
      line-height: 1.375rem; } }
  @media (min-width: 37.5em) {
    .gel-guideline-body, .gel-article-body {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch .gel-guideline-body, .no-touch .gel-article-body {
        font-size: 16px;
        font-size: 1rem;
        line-height: 22px;
        line-height: 1.375rem; } }
  .gel-guideline-body h1, .gel-article-body h1 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 32px;
    line-height: 2rem;
    font-weight: bold;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-weight: 800;
    margin-top: 12px;
    margin-bottom: 12px; }
    @media (min-width: 20em) {
      .gel-guideline-body h1, .gel-article-body h1 {
        font-size: 32px;
        font-size: 2rem;
        line-height: 36px;
        line-height: 2.25rem; } }
    @media (min-width: 37.5em) {
      .gel-guideline-body h1, .gel-article-body h1 {
        font-size: 52px;
        font-size: 3.25rem;
        line-height: 56px;
        line-height: 3.5rem; }
        .no-touch .gel-guideline-body h1, .no-touch .gel-article-body h1 {
          font-size: 44px;
          font-size: 2.75rem;
          line-height: 48px;
          line-height: 3rem; } }
  .gel-guideline-body h2, .gel-article-body h2 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    margin-top: 24px;
    margin-bottom: 16px; }
    @media (min-width: 20em) {
      .gel-guideline-body h2, .gel-article-body h2 {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; } }
    @media (min-width: 37.5em) {
      .gel-guideline-body h2, .gel-article-body h2 {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 40px;
        line-height: 2.5rem; }
        .no-touch .gel-guideline-body h2, .no-touch .gel-article-body h2 {
          font-size: 32px;
          font-size: 2rem;
          line-height: 36px;
          line-height: 2.25rem; } }
  .gel-guideline-body h3, .gel-article-body h3 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    line-height: 1.375rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 12px; }
    @media (min-width: 20em) {
      .gel-guideline-body h3, .gel-article-body h3 {
        letter-spacing: -1px;
        letter-spacing: -0.0625rem; } }
    @media (min-width: 37.5em) {
      .gel-guideline-body h3, .gel-article-body h3 {
        font-size: 21px;
        font-size: 1.3125rem;
        line-height: 24px;
        line-height: 1.5rem; }
        .no-touch .gel-guideline-body h3, .no-touch .gel-article-body h3 {
          font-size: 20px;
          font-size: 1.25rem; } }
  .gel-guideline-body h4, .gel-article-body h4 {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 20px;
    line-height: 1.25rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 12px; }
    @media (min-width: 20em) {
      .gel-guideline-body h4, .gel-article-body h4 {
        font-size: 16px;
        font-size: 1rem;
        line-height: 20px;
        line-height: 1.25rem; } }
    @media (min-width: 37.5em) {
      .gel-guideline-body h4, .gel-article-body h4 {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 22px;
        line-height: 1.375rem; }
        .no-touch .gel-guideline-body h4, .no-touch .gel-article-body h4 {
          font-size: 16px;
          font-size: 1rem;
          line-height: 20px;
          line-height: 1.25rem; } }
  .gel-guideline-body p, .gel-article-body p {
    margin-bottom: 16px; }
    @media (min-width: 80em) {
      .gel-guideline-body p, .gel-article-body p {
        margin-bottom: 20px; } }
  .gel-guideline-body code.hljs, .gel-article-body code.hljs {
    padding: 16px;
    margin: 16px; }

.gel-feedback-banner {
  margin-top: 192px; }

/*
 * Use full font if JavaScript has put b-reith-sans-loaded on the <html> element.
 *
 * 1. Override gel-typography classes which set negative letter spacing as this
 *    is no longer require in the new font. This code should be removed once all
 *    products are using the new font and should be moved to the gel-typography
 *    code base. https://jira.dev.bbc.co.uk/browse/GELWEB-847
 */
/*
 */
/* are there other fonts we can use as fallbacks here? */
.serif {
  font-family: "Times New Roman", serif; }

.sans {
  font-family: Helvetica, Arial, freesans, sans-serif; }

.noscriptElement {
  display: none; }

.noscript .noscriptElement {
  display: block; }

.noscript .gel-enhanced {
  display: none; }

/*
 * gel styles
 */
/* header */
.gel-logo {
  display: inline-block;
  font-size: 44px;
  font-weight: 700;
  color: #404040; }

@media (max-width: 37.5em) {
  .gel-logo {
    margin-left: -8px; } }

.gel-guideline-header {
  background: #fff;
  padding: 6px 0 3px 0;
  border-bottom: 1px solid #dcdcdc; }

.gel-guideline-header .gel-wrap {
  padding-left: 8px !important; }

.gel-guideline-header__banner {
  padding: 28px 0 16px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 24px; }

.gel-guideline-header__data {
  margin-top: 24px; }

.gel-guideline-contributors {
  max-width: 240px; }

.gel-guideline-contributor-title p {
  margin-bottom: 8px; }

.gel-guideline-header__title {
  margin: 12px 0 24px;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: 700;
  font-weight: 800; }

@media (min-width: 20em) {
  .gel-guideline-header__title {
    font-size: 32px;
    font-size: 2rem;
    line-height: 36px;
    line-height: 2.25rem; } }

@media (min-width: 37.5em) {
  .gel-guideline-header__title {
    font-size: 52px;
    font-size: 3.25rem;
    line-height: 56px;
    line-height: 3.5rem; }
  .no-touch .gel-guideline-header__title {
    font-size: 44px;
    font-size: 2.75rem;
    line-height: 48px;
    line-height: 3rem; } }

/* good and bad */
.circular {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-right: 4px;
  width: 21px;
  line-height: 21px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  color: white;
  background: #333;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Verdana, "Verdana Ref", sans-serif !important; }

.circular__good {
  background: #789e42; }

.circular__bad {
  background: #bb3626; }

/* breakout */
.gel-breakout-box {
  background: #eee;
  padding: 8px;
  margin: 20px 0 32px 0;
  width: 100%; }

.gel-breakout-box.extra-padding {
  padding: 16px; }

.gel-breakout-box.extra-margin {
  margin-top: 18px; }

.gel-breakout-box h4 {
  margin-top: 8px;
  margin-bottom: 12px; }

.gel-breakout-box aside p {
  padding-bottom: 18px;
  font-family: ReithSans !important; }

.gel-breakout-box p {
  overflow: hidden;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  font-size: .9375rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #404040; }

@media (min-width: 37.5em) {
  .gel-breakout-box p {
    line-height: 20px;
    line-height: 1.25rem; }
  .no-touch .gel-breakout-box p {
    font-size: 14px;
    font-size: .875rem;
    line-height: 18px;
    line-height: 1.125rem; } }

.gel-breakout-box__icon {
  float: left;
  display: inline;
  margin-right: 8px;
  position: relative;
  top: 1px; }

.gel-standout-box {
  background: #eee;
  width: 100%;
  overflow: auto;
  zoom: 1;
  padding: 16px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem; }
  @media (min-width: 20em) {
    .gel-standout-box {
      line-height: 18px;
      line-height: 1.125rem; } }
  @media (min-width: 37.5em) {
    .no-touch .gel-standout-box {
      font-size: 13px;
      font-size: 0.8125rem;
      line-height: 16px;
      line-height: 1rem; } }
  .gel-standout-box dt, .gel-standout-box dd {
    float: left;
    line-height: 150%; }
  .gel-standout-box dt {
    clear: both;
    font-weight: bold; }
  .gel-standout-box dd {
    margin-inline-start: 8px; }

/* toc */
.gel-toc {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0; }

@media (min-width: 900px) {
  #side-nav {
    padding-top: 36px; } }

.gel-toc a {
  text-decoration: none;
  font-weight: bold;
  line-height: 160%; }

.gel-toc a:hover,
.gel-toc a:focus,
.gel-toc li.active a {
  color: #397cb8; }

/* icon */
.gel-icon {
  fill: currentColor; }

.gel-icon--small {
  height: 16px;
  width: 16px; }

.gel-icon--medium {
  height: 32px;
  width: 32px; }

.gel-icon--large {
  height: 64px;
  width: 64px; }

.gel-icon--text {
  margin-top: .1em;
  height: 1em;
  width: 1em;
  vertical-align: text-top; }

/* snippet */
pre {
  margin-top: 32px;
  margin-bottom: 32px; }

/* body-copy */
.gel-body-copy p, .gel-body-copy ol, .gel-body-copy ul {
  font-family: ReithSerif; }

/* button */
.gel-button {
  border: 1px solid transparent;
  padding: 16px;
  font-size: 15px;
  font-size: .9375rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none; }

@media (min-width: 37.5em) {
  .gel-button {
    line-height: 20px;
    line-height: 1.25rem; }
  .no-touch .gel-button {
    font-size: 14px;
    font-size: .875rem;
    line-height: 18px;
    line-height: 1.125rem; } }

.gel-button:hover:not(.is-disabled) {
  text-decoration: none; }

.gel-button.is-disabled {
  cursor: default;
  opacity: .6; }

.gel-button.gel-button--primary {
  background: transparent;
  border-color: #5a5a5a;
  color: #404040;
  transition: background-color .2s ease; }

.gel-button.gel-button--primary:hover {
  transition: .3s;
  border: 1px solid #397cb8;
  color: #397cb8; }

.gel-button.gel-button--primary:hover .gel-button__content {
  text-decoration: none;
  border-bottom: 1px solid #397cb8;
  transition: border-bottom .3s; }

.gel-button__content {
  border-bottom: 1px solid transparent;
  margin-right: 12px;
  float: left; }

.gel-button--secondary {
  border-color: #404040;
  color: #404040;
  background: transparent; }

.gel-button--light {
  border-color: #fff;
  color: #fff;
  background: transparent; }

.gel-button--light:hover {
  transition: .3s; }

.gel-button--light:hover .gel-button__content {
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: border-bottom .3s; }

.gel-button--minor {
  background: transparent; }

.gel-button--dark {
  text-decoration: none;
  background: #121212;
  color: #fff; }

.gel-button--dark:hover:not(.is-disabled) {
  text-decoration: underline; }

.gel-button--danger {
  background: #e4134f;
  color: #fff; }

.gel-button--danger:hover:not(.is-disabled) {
  background: #b50f3f; }

.gel-input {
  border: 1px solid #121212;
  padding: 12px;
  width: 100%;
  background: #fff;
  font-size: 15px;
  font-size: .9375rem;
  line-height: 20px;
  line-height: 1.25rem; }

@media (min-width: 20em) {
  .gel-input {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem; } }

@media (min-width: 37.5em) {
  .gel-input {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    line-height: 1.375rem; }
  .no-touch .gel-input {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem; } }

/* feedback banner */
.gel-feedback-banner {
  background-color: #ffdc48;
  color: #404040;
  padding: 32px 0;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem; }

@media (min-width: 37.5em) {
  .gel-feedback-banner {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 24px;
    line-height: 1.5rem; }
  .no-touch .gel-feedback-banner {
    font-size: 20px;
    font-size: 1.25rem; } }

.gel-feedback-banner p {
  max-width: 600px;
  margin-top: 0; }

.gel-feedback-banner__icon {
  padding-bottom: 24px;
  margin-top: 24px; }

.gel-feedback-banner__icon svg {
  width: 72px;
  height: 72px; }

.gel-feedback-banner__title {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  letter-spacing: -.0625rem;
  margin-bottom: 16px;
  margin-top: 24px; }

@media (min-width: 20em) {
  .gel-feedback-banner__title {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem; } }

@media (min-width: 37.5em) {
  .gel-feedback-banner__title {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 40px;
    line-height: 2.5rem; }
  .no-touch .gel-feedback-banner__title {
    font-size: 32px;
    font-size: 2rem;
    line-height: 36px;
    line-height: 2.25rem; } }

.gel-feedback-banner__cta {
  margin-top: 16px;
  margin-bottom: 16px; }

.gel-feedback-banner__cta .gel-button__icon {
  height: 16px;
  width: 16px;
  position: relative; }

.gel-feedback-banner__cta .gel-button__icon svg {
  position: absolute;
  top: 2px;
  left: 0; }

a.gel-button.gel-button__link-button {
  font-size: 15px;
  font-size: .9375rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  text-align: center; }

@media (min-width: 37.5em) {
  a.gel-button.gel-button__link-button {
    line-height: 20px;
    line-height: 1.25rem; }
  .no-touch a.gel-button.gel-button__link-button {
    font-size: 14px;
    font-size: .875rem;
    line-height: 18px;
    line-height: 1.125rem; } }
