.gel-promos {
  margin: 0;
  padding: 0;
}

@supports (display: grid) {
  .gel-promos > * + * {
    margin-top: 0;  
  }

  .gel-promo {
    margin: 0;
  }

  .gel-promos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    grid-gap: 1rem;
  }
}

.gel-promo {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
}

.gel-promo > * + * {
  margin-top: 1rem;
}

.gel-promo > *:not(.gel-promo-image) {
  padding-left: 1rem;
  padding-right: 1rem;
}

.gel-promo > :last-child {
  padding-bottom: 1rem;
}

.gel-promo-image {
  order: -1;
  margin-top: 0;
  height: 10rem;
  overflow: hidden;
}

.gel-promo-image img {
  height: 100%;
  width: auto;
}

@supports (object-fit: cover) {
  .gel-promo-image img {
    width: 100%;
    object-fit: cover;
  }
}

.gel-promo-meta {
  margin: 0;
  margin-top: auto;
  padding-top: 1rem;
}

.gel-promo-meta > * {
  flex: 1 0 auto;
  margin: 0;
  display: inline;
}

.gel-promo-meta dd ~ dd::before {
  content: '';
  border-left: 1px solid;
  margin: 0 0.5rem 0 0.25rem;
}

.vh {
  clip-path: inset(100%) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important; 
}

