$gel-color--white: #fff !default;
$gel-color--orange: #e6711b !default;
$gel-color--yellow: #ffdc48 !default;
$gel-color--cod-gray: #767676 !default;
$gel-color--tundora: #404040 !default;
$gel-color--black: #121212 !default;
$gel-color--dusty-gray: #ccc !default;
$gel-color--alto: #dcdcdc !default;
$gel-color--gallery: #eeeeee !default;
$gel-color--pink: #e4134f !default;
$gel-color--green: #0b8a0b !default;
$gel-color--blue: #006def !default;
$gel-color--cod-dark-gray: #5a5a5a !default;
$gel-color--star-command-blue: #007bb8 !default;

$gel-color--text: $gel-color--tundora !default;
$gel-color--light-text: $gel-color--cod-gray !default;
$gel-color--link-hover: $gel-color--black !default;
$gel-color--error: $gel-color--pink !default;
$gel-color--error-hover: darken($gel-color--pink, 10%)!default;
$gel-color--success: $gel-color--green !default;
$gel-color--success-hover: #126612 !default;
$gel-color--beta-background: $gel-color--yellow !default;
$gel-color--menu-selected: $gel-color--yellow !default;
$gel-color--menu-hover: $gel-color--alto !default;
$gel-color--input-bg: $gel-color--white !default;
$gel-color--input-border: $gel-color--black !default;
$gel-color--button-border: $gel-color--cod-dark-gray !default;
$gel-color--mask-bg: $gel-color--alto !default;
$gel-color--modal-bg: $gel-color--white !default;
$gel-color--link-underline: $gel-color--dusty-gray !default;
$gel-color--table-stripe: $gel-color--gallery !default;
$gel-color--brand: $gel-color--orange !default;
