// Z-Index Scale (private vars)
// --------------------------------------------------
$gel-z-index-1:   100; // base
$gel-z-index-2:   200; // hover effects
$gel-z-index-3:   300; // pop overs
$gel-z-index-4:   400; // in-page overlays
$gel-z-index-5:   500; // header/footer
$gel-z-index-6:   600; // site overlays
$gel-z-index-7:   700;
$gel-z-index-8:   800;
$gel-z-index-9:   900;
$gel-z-index-10: 1000;


// Z-Index Applications
// --------------------------------------------------
$gel-z-index-5--header:               $gel-z-index-5;
$gel-z-index-5--footer:               $gel-z-index-5;

$gel-z-index-6--notification-panel:   $gel-z-index-6;
$gel-z-index-6--dropdown:             $gel-z-index-6;

$gel-z-index-6--mask:                 $gel-z-index-6;
