---
layout: layout-index.njk
title: Contributors
summary: This is a community-powered project.
---

{% block pagemain %}
<section>
    <h2>There's no us without you</h2>

    <p>We love our contributors! If you think you can improve on any of the content you see here, then we love <em>you</em> too!</p>
    <p>To open a pull request please visit <a href="https://github.com/bbc/gel/">this project's github page
      <span class="geltags-button__icon_wrapper">
        <svg class="geltags-button__icon geltags-icon geltags-icon--text">
            <use xlink:href="{{site.basedir}}static/images/gel-icons-core-set.svg#gel-icon-external-link"
                style="fill:undefined;"></use>
        </svg>
    </span></a> and get forking! We can't wait to see what you've got to share.</p> 
</section>

<section>
  <h2>Our recent contributors</h1>

  <ul class="gel-promos">
    {% for contributor in contributors %}
    <li class="gel-promo" style="background-color:white">
      <div class="gel-promo-content">
        <div class="gel-promo-headline">
          <h3>
            <img class="circular" src="{{ contributor.avatar }}" alt="" style="min-width:4rem;vertical-align:middle"> <a href="{{ contributor.url }}">{{ contributor.name }}</a>
          </h3>
        </div>
      </div>
    </li>
     {% endfor %}
    </ul>
  </section>

{% endblock %}